<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Select - Excelsior Design System</title>
    <meta name="description" content="Dropdown menu for selecting a single option.">   
    <link rel="canonical" href="https://designsystem.ny.gov//components/select/">
    <link rel="icon" type="image/svg+xml" href="https://designsystem.ny.gov//favicon.svg" />

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Select">
    <meta property="og:site_name" content="Excelsior Design System">
    <meta property="og:url" content="https://designsystem.ny.gov//components/select/">
    <meta property="og:description" content="Dropdown menu for selecting a single option.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    
    <link rel="preload" href="https://designsystem.ny.gov//assets/fonts/proximanova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://designsystem.ny.gov//assets/fonts/excelsior-fonts.css" rel="stylesheet">    
    <link href="https://designsystem.ny.gov//pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://designsystem.ny.gov//assets/css/prism-theme.css"rel="stylesheet">
    <link href="https://designsystem.ny.gov//assets/css/vendor/excelsior-full.min.css" rel="stylesheet">    
    <link href="https://designsystem.ny.gov//assets/css/excelsior-site.css" rel="stylesheet">    


    
    <meta name="robots" content="noindex">
    
    
    <!-- Latest Build: 2025-02-05T16:32:08.835+00:00 -->
  </head>
  <body class="single-page page-select">

  <div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2024-08-26 12:00">
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      hideSearch: true,
      showLanguageHeader: false,
      showLanguageFooter: false,
    };
    (function (document, bundle, head) {
        head = document.getElementsByTagName('head')[0];
        bundle = document.createElement('script');
        bundle.type = 'text/javascript';
        bundle.async = true;
        bundle.src = "https://static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
        head.appendChild(bundle);
    }(document));
  </script>
</div>
  
<div class="site-header">
    <div class="site-header__inner nys-grid-container">
        <div class="site-header__logo">
            <a href="https://designsystem.ny.gov/" title="Home"><img src="/assets/img/logo-excelsior.svg" title="Excelsior Logo"></a>
        </div>
        <nav class="site-header__nav">
            <ul class="site-header__list">
                <li class="site-header__item"><a href="/getting-started" class="site-header__link" title="Getting Started">Getting Started</a></li>
                <li class="site-header__item"><a href="/foundations" class="site-header__link" title="Foundations">Foundations</a></li>
                <li class="site-header__item site-header__item--active"><a href="/components" class="site-header__link" title="Components">Components</a></li>
                <li class="site-header__item"><a href="/about" class="site-header__link" title="About">About</a></li>
            </ul>
        </nav>

    </div>
</div>



<div class="section-header">
    <div class="section-header__inner nys-grid-container">
        <div class="section-header__title">
            Components
        </div>
        <div class="section-header__media">
            
                <img src="https://designsystem.ny.gov//assets/img/sections/section-components.svg" alt="Components section header">
            
        </div>
    </div>
</div>




  <main role="main" data-pagefind-body>
    <div class="nys-grid-container">
      
      <div class="nys-grid-row nys-grid-gap-lg">
  <div class="nys-desktop:nys-grid-col-3">
    <div class="navigator">
      <div class="navigator__inner">
        <div id="navigator-title" class="navigator__title">On this page</div>
        <nav class="navigator__nav" aria-labelledby="navigator-title">
          <ul class="navigator__list">
            <li class="navigator__item navigator__item--overview navigator__item--active">
              <a class="navigator__link" href="#overview">Overview</a>
            </li>
            <li class="navigator__item navigator__item--example">
              <a class="navigator__link" href="#example">Example</a>
            </li>
            <li class="navigator__item navigator__item--examplecode">
              <a class="navigator__link" href="#examplecode">Example Code</a>
            </li>
            <li class="navigator__item navigator__item--usage">
              <a class="navigator__link" href="#usage">Usage</a>
            </li>
            <li class="navigator__item navigator__item--accessibility">
              <a class="navigator__link" href="#accessibility">Accessibility</a>
            </li>
            <li class="navigator__item navigator__item--options">
              <a class="navigator__link" href="#options">Options</a>
            </li>
            <li class="navigator__item navigator__item--properties">
              <a class="navigator__link" href="#properties">Properties</a>
            </li>
            <li class="navigator__item navigator__item--cssvariables">
              <a class="navigator__link" href="#cssvariables">CSS Variables</a>
            </li>
            <li class="navigator__item navigator__item--events">
              <a class="navigator__link" href="#events">Events</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="nys-desktop:nys-grid-col-9">
    <section id="overview">
      <h1>Select</h1>
<p>The <code class="language-js">&lt;nys-select&gt;</code> is a reusable web component for use in New York State digital products. It allows users to select data from a dropdown to be collected. It accepts the child element <code class="language-js">&lt;nys-option&gt;</code> to define the options in the dropdown.</p>
</section>
    <section id="example">
<nys-select label="Select your favorite borough" id="borough">
  <nys-option value="bronx" label="The Bronx"></nys-option>
  <nys-option value="brooklyn" label="Brooklyn"></nys-option>
  <nys-option value="manhattan" label="Manhattan"></nys-option>
  <nys-option value="staten_island" label="Staten Island"></nys-option>
  <nys-option value="queens" label="Queens"></nys-option>      
</nys-select>
</section>
    <section id="examplecode">
      <details>
        <summary>Example Code</summary>
        <div id="main-example">
      <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-select</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Select your favorite borough<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>borough<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bronx<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>The Bronx<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>brooklyn<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Brooklyn<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>manhattan<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Manhattan<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>staten_island<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Staten Island<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>queens<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Queens<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>      
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-select</span><span class="token punctuation">></span></span></code></pre>
        </div>
      <nys-button onClick="copyFunction('main-example');" label="Copy Code" variant="outline" size="sm"></nys-button>
      </details>
    </section>
    <section id="usage">
      <h2>Usage</h2>
<h3>When to use this component</h3>
<ul>
<li>When you need to collect data from a dropdown</li>
<li>When you need to provide a list of options for users to select a single option from</li>
</ul>
<h3>When to consider something else</h3>
<ul>
<li>When you need to collect multiple items from a list</li>
</ul>
</section>
    <div class="nys-grid-row nys-grid-gap">
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--do nys-flex-fill">
          <h3 class="card__title"><nys-icon name="check_circle" size="lg"></nys-icon> Do</h3>
<ul>
<li>Use the <code>nys-option</code> component to define the options in the dropdown</li>
</ul>
</div>
      </div>
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--dont nys-flex-fill">
          <h3 class="card__title"><nys-icon name="warning" size="lg"></nys-icon> Don't</h3>
<ul>
<li>Don't use the native <code>&lt;option&gt;</code> element in the <code>nys-select</code> component</li>
</ul>
</div>
      </div>
    </div>
    <section id="accessibility">
      <h2>Accessibility</h2>
<p>The <code class="language-js">nys-select</code> component includes the following accessibility-focused features:</p>
<ul>
<li>Proper ARIA roles and attributes to ensure screen readers can interpret the select dropdown correctly.</li>
<li>Keyboard navigation support, allowing users to tab to the <code>nys-select</code> using the keyboard and spacebar to select an option.</li>
<li>Visual focus indicators to help users navigate the component.</li>
<li>Include a label property to provide accessible text for screen readers.</li>
</ul>
</section>
    <section id="options">
      <h2>Options</h2>
<h3>Disabled</h3>
<nys-select label="Select your favorite borough" disabled>
  <nys-option value="bronx" label="The Bronx"></nys-option>
  <nys-option value="brooklyn" label="Brooklyn"></nys-option>
  <nys-option value="manhattan" label="Manhattan"></nys-option>
  <nys-option value="staten_island" label="Staten Island"></nys-option>
  <nys-option value="queens" label="Queens"></nys-option>  
</nys-select>
<details>
  <summary>Example Code</summary>
  <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-select</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Select your favorite borough<span class="token punctuation">"</span></span> <span class="token attr-name">disabled</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bronx<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>The Bronx<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>brooklyn<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Brooklyn<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>manhattan<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Manhattan<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>staten_island<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Staten Island<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>queens<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Queens<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>  
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-select</span><span class="token punctuation">></span></span></code></pre>
</details>
<h3>Width</h3>
<p>The following width options are available:</p>
<ul>
<li><code>sm</code> (Small): 88px, ideal for compact layouts.</li>
<li><code>md</code> (Medium): 200px, ideal for balanced designs.</li>
<li><code>lg</code> (Large): 384px, suitable for displaying longer content.</li>
<li><code>full</code> (Full Width): default size. Expands to fill the available space.</li>
</ul>
<nys-select label="Select your favorite width" description="Valid widths are sm, md, lg, and full" width="sm">
  <nys-option value="sm" label="sm"></nys-option>
  <nys-option value="md" label="md"></nys-option>
  <nys-option value="lg" label="lg"></nys-option>
  <nys-option value="full" label="full"></nys-option>
</nys-select>
<details>
  <summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-select</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Select your favorite width<span class="token punctuation">"</span></span> <span class="token attr-name">description</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Valid widths are sm, md, lg, and full<span class="token punctuation">"</span></span> <span class="token attr-name">width</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>sm<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>sm<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>sm<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>md<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>md<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>lg<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>lg<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>full<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>full<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-select</span><span class="token punctuation">></span></span></code></pre>
</details>
<h3>Error Message</h3>
<p>To display an error message, pass in the <code>showError</code> property to the <code>nys-select</code> component. Setting <code>errorMessage</code> does not display the message without <code>showError</code> set to true.</p>
<nys-select label="Select your favorite borough" errorMessage="You did not select a borough" showError>
  <nys-option value="bronx" label="The Bronx"></nys-option>
  <nys-option value="brooklyn" label="Brooklyn"></nys-option>
  <nys-option value="manhattan" label="Manhattan"></nys-option>
  <nys-option value="staten_island" label="Staten Island"></nys-option>
  <nys-option value="queens" label="Queens"></nys-option>  
</nys-select>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-select</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Select your favorite borough<span class="token punctuation">"</span></span> <span class="token attr-name">errorMessage</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>You did not select a borough<span class="token punctuation">"</span></span> <span class="token attr-name">showError</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bronx<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>The Bronx<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>brooklyn<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Brooklyn<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>manhattan<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Manhattan<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>staten_island<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Staten Island<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-option</span> <span class="token attr-name">value</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>queens<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>Queens<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-option</span><span class="token punctuation">></span></span>  
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-select</span><span class="token punctuation">></span></span></code></pre>
</section>
    <section id="properties">
      <h2>Properties</h2>
<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>label</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>value</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>id</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>name</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>description</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>disabled</code></td>
      <td>boolean</td>
    </tr>
    <tr>
      <td><code>required</code></td>
      <td>boolean</td>
    </tr>
    <tr>
      <td><code>form</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>width</code></td>
      <td>string ("sm", "md", "lg", "full")</td>
    </tr>
    <tr>
      <td><code>showError</code></td>
      <td>boolean</td>
    </tr>
    <tr>
      <td><code>errorMessage</code></td>
      <td>string</td>
    </tr>
  </tbody>
</table>
</section>
    <section id="cssvariables">
      <h2>CSS Variables</h2>
<p>[[TODO]]</p>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--nys-toggle-width</code></td>
      <td>Width of the toggle switch.</td>
    </tr>
  </tbody>
  </table>
</section>
    <section id="events">
      <h2>Events</h2>
<p>The <code class="language-js">nys-select</code> component emits <strong>three</strong> custom Javascript events:</p>
<ol>
<li><strong><code>change</code></strong> – Fired when the select state changes (checked/unchecked).</li>
<li><strong><code>focus</code></strong> – Fired when the select gains focus.</li>
<li><strong><code>blur</code></strong> – Fired when the select loses focus.</li>
</ol>
<p>You can listen to these events using JavaScript:</p>
<pre class="language-js"><code class="language-js"><span class="token comment">// Select the select component</span>
  <span class="token keyword">const</span> select <span class="token operator">=</span> document<span class="token punctuation">.</span><span class="token function">querySelector</span><span class="token punctuation">(</span><span class="token string">'nys-select'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token comment">// Listen for the 'change' event</span>
  select<span class="token punctuation">.</span><span class="token function">addEventListener</span><span class="token punctuation">(</span><span class="token string">'change'</span><span class="token punctuation">,</span> <span class="token punctuation">(</span><span class="token parameter">event</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">{</span>
    console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span><span class="token string">'Select changed:'</span><span class="token punctuation">,</span> event<span class="token punctuation">.</span>target<span class="token punctuation">.</span>checked<span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
</section>
  </div>
</div>

      
    </div>
  </main>

  <div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-6">
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Quick Links</h6>
        <ul>
            <li><a href="/getting-started/" title="How you can use Excelsior.">Getting Started</a></li>
            <li><a href="/foundations/" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="/components/" title="Explore the web components.">Components</a></li>
            <li><a href="/about/" title="Learn more about our team and the mission of this project.">About Excelsior</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Support</h6>
        <ul>
          <li><a href="/privacy/" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="/about/" title="Contact the Excelsior team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Resources</h6>
        <ul>
            <li><a href="https://github.com/ITS-HCD/excelsior" title="Visit the Excelsior Core GitHub repository.">Excelsior GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/excelsior-fonts" title="Visit the Excelsior Fonts GitHub repository.">Excelsior Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nys-excelsior" title="Explore Excelsior NPM packages.">Excelsior NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYS-%2F-Excelsior-Components-(Alpha)?node-id=20-40&t=Qcrbt459q9JgdW9E-1" title="Access the Excelsior Figma library.">Excelsior Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <div id="nygov-universal-footer" class="nygov-universal-container"></div>


  <script type="module" src="https://designsystem.ny.gov//assets/js/vendor/excelsior.js"></script>
<script src="https://designsystem.ny.gov//assets/js/excelsior-site.js"></script>
  
  </body>
</html>
