---
permalink: /components/modal/accessibility-build/
title: Build Accessibly
title_h1: Build an Accessible Modal
description: How to code an accessible modal.
image: /assets/img/components/modal.svg
image_alt: An illustration of an modal
image_header: /assets/img/components/modal-header.svg
stable: true
parent: Modal
navOrder: 2
extra_css:
  - "/assets/nysa11y/dialog-native.css"
  - "/assets/nysa11y/dialog-custom.css"
  - "/assets/nysa11y/divider-native.css"
extra_js:
  - "/assets/nysa11y/dialog-custom.js"
---

{% extends "layouts/component-a11y-build.njk" %}
{# block Introduction #}
{# block RecommendedSolution #}


{% block Alternatives %}
<div class="solution">
    <div class="card">
        <h3>Style the native HTML <code class="element">details</code> element</h3>
        <p>
            <mark class="subhead strong">When to use</mark>
            If your team has source-level control over UI code,
            wants to avoid error-prone semantics programming,
            and has no hard requirements in excess of what native HTML provides,
            then the <code class="element">details</code> element is a great option
            that has built-in accessibility and is effectively unbreakable.
        </p>
        {% include "partials/a11y-rely-checks.njk" %}
    </div>

    {% block HTMLNative %}
    {% set preview %}

    {% endset %}
    {% set accordionLabel = "HTML" %}
    {% set code = preview %}
    {% set codeExpanded = true %}
    {% set codeLanguage = "html" %}
    {% set showTip = false %}
    {% include "partials/code-preview.njk" %}
    {% endblock %}{# HTMLNative #}

    {% block CSSNative %}
    {% set code %}
    {% include "../../../assets/nysa11y/dialog-native.css" %}
    {% endset %}
    {% set accordionLabel = "CSS" %}
    {% set codeExpanded = false %}
    {% set codeLanguage = "css" %}
    {% include "partials/code-preview.njk" %}
    {% endblock %}{# CSSNative #}
</div>

<hr class="nysa11y divider" data-component="divider" data-html="native">

<div class="solution">
    <div class="card">
        <h3>Build a custom modal dialog component</h3>
        <p>
            <mark class="subhead strong">When to use</mark>
            If your team has source-level control over UI code,
            but DOES have a hard requirement not provided by native HTML,
            you may choose to build a custom modal dialog.
            Or perhaps your legacy component has been flagged for remediation
            and you need a high quality reference.
            This custom example recreates the accessibility built into the
            NYSDS Modal.
            See the
            <a href="https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/" target="_blank">W3C APG Dialog (Modal) Pattern</a>
            for more involved implementations.
        </p>
        {% include "partials/a11y-rely-checks.njk" %}
    </div>

    {% block HTMLCustom %}
    {% set preview %}

    {% endset %}
    {% set accordionLabel = "HTML" %}
    {% set code = preview %}
    {% set codeExpanded = true %}
    {% set codeLanguage = "html" %}
    {% set showTip = false %}
    {% include "partials/code-preview.njk" %}
    {% endblock %}{# HTMLCustom #}

    {% block CSSCustom %}
    {% set code %}
    {% include "../../../assets/nysa11y/dialog-custom.css" %}
    {% endset %}
    {% set accordionLabel = "CSS" %}
    {% set codeExpanded = false %}
    {% set codeLanguage = "css" %}
    {% include "partials/code-preview.njk" %}
    {% endblock %}{# CSSCustom #}


    {% block JSCustom %}
    {% set code %}
    {% include "../../../assets/nysa11y/dialog-custom.js" %}
    {% endset %}
    {% set accordionLabel = "JavaScript" %}
    {% set codeExpanded = false %}
    {% set codeLanguage = "js" %}
    {% include "partials/code-preview.njk" %}
    {% endblock %}{# JSCustom #}
</div>
{% endblock %}{# Alternatives #}

{% block AboutThisPattern %}
<p>
    The dialog experience is a dramatic re-framing of users' context and
focus, second only to a full page navigation. In fact, native operating
system dialogs and early World Wide Web browser dialogs were actual new
system or application windows displayed above the window of
origination.
</p>
<p>
    Subsequent to the late 1990s, most web browser dialogs were faked to
visually appear like independent windows without actually being so. The
ensuing years of inconsistency and poor accessibility led many user
interface experts to <a href="https://www.nngroup.com/articles/modal-nonmodal-dialog/#toc-disadvantages-of-modal-dialogs-1" target="_blank">recommend caution</a> in the use of so-called dialogs. Even
today, designers may reasonably consider <a
href="https://modalzmodalzmodalz.com" target="_blank">different forms</a> of disclosure
and navigation as alternative paradigms.
</p>
<p>
    Decades of creative experimentation led to the addition of a <a
href="https://html.spec.whatwg.org/dev/interactive-elements.html#the-dialog-element" target="_blank"><code class="element">dialog</code></a>
element to the official HTML5 specification. This native element, which
reached <a href="https://caniuse.com/?search=dialog" target="_blank">baseline browser
support</a> in 2022, allows authors leeway to craft a range of user
experiences. The HTML5 <code class="element">dialog</code> is the basis
of the implementation shown here, and is the number one recommendation
for any custom dialog development today. Though it is easier than ever
to produce an accessible dialog, knowledge and care are still required
to ensure this outcome. Let's deepen our understanding.
</p>
<h3 id="high-level-presentation">High level presentation</h3>
<p>
    A dialog is a real or apparent window that presents separately from
the primary user interface surface.
</p>
<ul>
  <li>Visually, dialogs appear in the foreground "above" the main
  screen</li>
  <li>Aurally, dialogs are perceived as discrete, self-contained
  areas</li>
  <li>A dialog may be automatically opened and closed by an operating
  system or application, or manually activated by the user; manual control
  is preferred</li>
  <li>In the majority of cases, a user will interact with dialog content
  in order to effect an outcome that closes the dialog and moves the user
  to the primary surface</li>
  <li>There is no set size for dialogs</li>
  <li>It is possible, though not recommended, for dialogs to completely
  fill a visual viewport by default; designers should account for cases in
  which this is actually the best user experience, for example in screen
  magnification and mobile portrait orientation scenarios</li>
  <li>More commonly, dialogs are presented visually as relatively small
  boxes centrally located on screen</li>
</ul>
<h3 id="what-is-a-modal">What is a "modal"?</h3>
<p>A "modal" is an intensification of the dialog pattern.</p>
<ul>
  <li>Typically the primary content "below" a modal dialog is visually
  dimmed to varying extents; with modals, non-dialog content should be
  literally inert, unreachable, and non-interactive</li>
  <li>Interaction with other application or operating system interfaces is
  substantially blocked until required actions in the modal dialog are
  complete</li>
</ul>
<h3 id="responsiveness">Responsiveness</h3>
<p>
    Like any content, a dialog should gracefully adapt to orientation
change, mobile viewports, text size increase, and screen magnification.
Design, test, and build for scenarios in which a dialog may fill an
entire screen, may require scrollbars, and may accommodate a 200% font
size increase.
</p>
<h3 id="focus-movement">Focus movement</h3>
<p>
    Whether it is visible or not, some page element always has
programmatic focus, even if it happens to be the
<code class="element">body</code>, which typically has focus on page
load. Generally any element clicked by a mouse gains focus at that
moment.
</p>
<p>
    A proper modal dialog <strong>must</strong> pull focus into itself
upon opening. It is essential that this happen, and likewise that while
the dialog remains open focus be almost entirely trapped within. As seen
on the Test page, in the majority of cases tabindex will remain inside
the dialog, wrapping between the top and bottom of the dialog's user
interface.
</p>
<p>
    Let's consider a scenario in which a user activates a button in main
content to open a modal dialog. The button interaction (whether by
mouse, keyboard, voice command, or double-tap) sets focus on the button
for a short period of time (miliseconds) until the dialog user interface
is ready to gain focus. This button is the last element in main content
to have focus and is the interaction trigger that spawns the dialog.
Consequently when the dialog is closed, focus <strong>must</strong>
return whence it came to this trigger button, provided the main user
interface has not changed so dramatically that the button is no longer
present. Failure to return focus from a dialog to its trigger is a
severe and unfortunately common issue.
</p>
<p>
    Usefully, authors may choose exactly where focus lands in a new
dialog. While the various considerations are beyond the scope of this
guide (see <a
href="https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/#keyboardinteraction" target="_blank">Keyboard
Interaction &rarr; Note</a> aside), one of the most effective techniques is
to use the placement of focus to ensure the dialog's accessible name is
immediately discovered.
</p>
<h3 id="an-accessible-name">An accessible name</h3>
<p>
    A dialog <strong>must</strong> identify itself clearly to all users
upon opening. The best accessibility is one that works for everyone. A
single label, title, or heading can serve all users equitably with
minimal effort. In our example, a single <code class="element">H1</code>
element is the visual, aural, and semantic label for the dialog by
virtue of element choice, DOM placement, and attribute settings. In a
browser's accessibility tree, the text content of this
<code class="element">H1</code> is literally the <a
href="https://www.w3.org/WAI/ARIA/apg/practices/names-and-descriptions/" target="_blank">accessible
name</a> of the dialog.
</p>
<pre><code>&lt;dialog aria-labelledby=&quot;my-dialog-heading&quot;&gt;
    &lt;h1 id=&quot;my-dialog-heading&quot; tabindex=&quot;-1&quot; autofocus&gt;My Dialog&lt;/h1&gt;
&lt;/dialog&gt;</code></pre>
<h3 id="traverse-and-close">Traverse and close</h3>
<p>
    Once inside a modal dialog, all content structure and interaction
rules apply the same as on the primary surface; they are just contained
within a (usually) smaller space. The key difference is in the
conventions to uphold for dialog dismissal:
</p>
<ul>
  <li>Activation of the <kbd>Escape</kbd> key <strong>must</strong> close
  the dialog, <em>except</em> while the user interacts with a child
  element that has its own response to <kbd>Escape</kbd>, for example, a
  native HTML <code class="element">select</code>. However, not every user
  has access to an <kbd>Escape</kbd> key.</li>
  <li>
      The founders of the Accessibility program at the BBC
      <a href="https://a11yquest.com/pro/guides/patterns/modal-dialog/#accessible-controls" target="_blank">advise</a>:<br>
      <q>
          All modal dialogs <strong>must</strong> have a visible, accessible control within the dialog content, allowing the user to close the dialog; for example, a button labeled <em>Close</em> or a submit button for a dialog with a form. Do not assume that the user can press an <kbd>Escape</kbd> key or click outside the content area, for example.</q></li>
</ul>
<h3 id="best-quality-references">Best quality references</h3>
<p>
    This document describes and presents nearly the simplest possible modal dialog. Considerably more is possible and may be reasonably demanded by your particular set of users. When building upon our solid foundation, you may place confidence in these particular resources:
</p>
<ul>
  <li><a href="https://a11yquest.com/pro/guides/patterns/modal-dialog/" target="_blank">Modal Dialog</a> from A11y Quest</li>
  <li><a href="https://www.atomica11y.com/accessible-web/dialog-modal/" target="_blank">Dialog Modal HTML</a> and <a href="https://www.atomica11y.com/accessible-design/dialog-modal/" target="_blank">Dialog Modal Design</a> from Atomic Accessibility</li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dialog" target="_blank">MDN HTML <code>dialog</code> element</a> from the Mozilla Developer Network</li>
  <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/" target="_blank">Dialog (Modal) Pattern</a> from the W3C ARIA Authoring Practices Guide</li>
  <li><a href="https://html.spec.whatwg.org/dev/interactive-elements.html#the-dialog-element" target="_blank">The dialog element</a> from HTML: The Living Standard</li>
</ul>

{% endblock %}{# AboutThisPattern #}
