---
permalink: /about/
title: "Excelsior, New York State's Design System"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>About Excelsior</h1>

<h2>Our Vision</h2>
<p>A team dedicated to improving design system maturity and creating a core set of design resources and guidelines to support product work at the state.</p>
<h2>Our Mission</h2>
<h3>Consistent &amp; Coherent​</h3>
<p>A library of consistent, reusable front-end UI patterns means a more cohesive UX and brand experience across apps and services. Fewer support requests from residents and cost savings for agencies.​</p>
<h3>Better Standardization​</h3>
<p>A clear repository of best practices reduces confusion and decreases the time it takes for new engineers and vendors to ramp up.​</p>
<h3>Accessible by Default</h2>
<p>Built-in accessibility testing and automation means a greater chance that people with disabilities will be able to use our software (and reduced liability for agencies.)​</p>

{# <h2>The Future</h2>


<h2>Support</h2>

<h2>Release Notes</h2> #}

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}