---
permalink: /foundations/
title: "Foundations - Excelsior, New York State's Design System"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>Foundations</h1>

<div class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-4 nys-display-flex">
    <div class="card nys-flex-fill">
      <a href="{{ site.url | url }}/foundations/accessibility">
        <div class="card__inner">
          <div class="card__media">
            <img src="../assets/img/components/placeholder.svg" alt="Accessibility"></div>
          <div class="card__title">Accessibility</div>
          <div class="card__desc">Instructions on how to install and use the Excelsior Design System code components.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="nys-tablet:nys-grid-col-4 nys-display-flex">
    <div class="card nys-flex-fill">
      <a href="{{ site.url | url}}/foundations/design-guidelines">
        <div class="card__inner">
          <div class="card__media">
            <img src="../assets/img/components/placeholder.svg" alt="Design guidelines"></div>
          <div class="card__title">Design Guidelines</div>
          <div class="card__desc">Instructions on how to use the design elements of the Excelsior Design System to create prototypes and mockups.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="nys-tablet:nys-grid-col-4 nys-display-flex">
    <div class="card nys-flex-fill">
      <a href="{{ site.url | url}}/foundations/design-tokens">
        <div class="card__inner">
          <div class="card__media">
            <img src="../assets/img/components/placeholder.svg" alt="Design tokens"></div>
          <div class="card__title">Design Tokens</div>
          <div class="card__desc">Instructions on how to use the design elements of the Excelsior Design System to create prototypes and mockups.</div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}