<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar - Excelsior Design System</title>
    <meta name="description" content="Avatars visually represent a user or entity as initials, a photo, or an icon.">   
    <link rel="canonical" href="https://designsystem.ny.gov//components/avatar/">
    <link rel="icon" type="image/svg+xml" href="https://designsystem.ny.gov//favicon.svg" />

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Avatar">
    <meta property="og:site_name" content="Excelsior Design System">
    <meta property="og:url" content="https://designsystem.ny.gov//components/avatar/">
    <meta property="og:description" content="Avatars visually represent a user or entity as initials, a photo, or an icon.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    
    <link rel="preload" href="https://designsystem.ny.gov//assets/fonts/proximanova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://designsystem.ny.gov//assets/fonts/excelsior-fonts.css" rel="stylesheet">    
    <link href="https://designsystem.ny.gov//pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://designsystem.ny.gov//assets/css/prism-theme.css"rel="stylesheet">
    <link href="https://designsystem.ny.gov//assets/css/vendor/excelsior-full.min.css" rel="stylesheet">    
    <link href="https://designsystem.ny.gov//assets/css/excelsior-site.css" rel="stylesheet">    


    
    <meta name="robots" content="noindex">
    
    
    <!-- Latest Build: 2025-02-07T17:38:18.408+00:00 -->
  </head>
  <body class="single-page page-avatar section-components">

  

<nys-unavheader hideTranslate hideSearch></nys-unavheader>

  <nys-globalheader appName="Excelsior Design System">
  <ul>
    <li class="site-header__item"><a href="/getting-started" class="site-header__link" title="Getting Started">Getting Started</a></li>
    <li class="site-header__item"><a href="/foundations" class="site-header__link" title="Foundations">Foundations</a></li>
    <li class="site-header__item site-header__item--active"><a href="/components" class="site-header__link" title="Components">Components</a></li>
    <li class="site-header__item"><a href="/about" class="site-header__link" title="About">About</a></li>
  </ul>
</nys-globalheader>








<div class="section-header">
    <div class="section-header__inner nys-grid-container">
        <div class="section-header__title">
            Components
        </div>
        <div class="section-header__media">
            
                <img src="https://designsystem.ny.gov//assets/img/sections/section-components.svg" alt="Components section header">
            
        </div>
    </div>
</div>





  <main role="main" data-pagefind-body>
    <div class="nys-grid-container">
      
      <div class="nys-grid-row nys-grid-gap-lg">
  <div class="nys-desktop:nys-grid-col-3">
    <div class="navigator">
      <div class="navigator__inner">
        <div id="navigator-title" class="navigator__title">On this page</div>
        <nav class="navigator__nav" aria-labelledby="navigator-title">
          <ul class="navigator__list">
            <li class="navigator__item navigator__item--overview navigator__item--active">
              <a class="navigator__link" href="#overview">Overview</a>
            </li>
            <li class="navigator__item navigator__item--example">
              <a class="navigator__link" href="#example">Example</a>
            </li>
            <li class="navigator__item navigator__item--examplecode">
              <a class="navigator__link" href="#examplecode">Example Code</a>
            </li>
            <li class="navigator__item navigator__item--usage">
              <a class="navigator__link" href="#usage">Usage</a>
            </li>
            <li class="navigator__item navigator__item--accessibility">
              <a class="navigator__link" href="#accessibility">Accessibility</a>
            </li>
            <li class="navigator__item navigator__item--options">
              <a class="navigator__link" href="#options">Options</a>
            </li>
            <li class="navigator__item navigator__item--properties">
              <a class="navigator__link" href="#properties">Properties</a>
            </li>
            <li class="navigator__item navigator__item--cssvariables">
              <a class="navigator__link" href="#cssvariables">CSS Variables</a>
            </li>
            <li class="navigator__item navigator__item--events">
              <a class="navigator__link" href="#events">Events</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="nys-desktop:nys-grid-col-9">
    <section id="overview">
      <h1>Avatar</h1>
<p>The <code class="language-js">&lt;nys-avatar&gt;</code> component is used to visually represent a user or entity.</p>
<p>By default, a generic icon is displayed. Personalize avatars with a custom <code class="language-js">icon</code>, <code class="language-js">initials</code>, or <code class="language-js">image</code>, and always include a <code class="language-js">label</code> for accessibility.</p>
</section>
    <section id="example">
<p><nys-avatar label="User avatar"></nys-avatar></p>
</section>
    <section id="examplecode">
      <details>
        <summary>Example Code</summary>
      <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span>
  <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span>
<span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span></code></pre>
      </details>
    </section>
    <section id="usage">
      <h2>Usage</h2>
<h3>When to use this component</h3>
<ul>
<li>To visually represent users, objects, or entities in a UI.</li>
<li>Ideal for profiles, account settings, or comment threads.</li>
</ul>
<h3>When to consider something else</h3>
<ul>
<li>If you need to show a large visual representation of a user or entity, use a photo.</li>
<li>When a simple label or text works better.</li>
</ul>
</section>
    <div class="nys-grid-row nys-grid-gap">
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--do nys-flex-fill">
          <h3 class="card__title"><nys-icon name="check_circle" size="lg"></nys-icon> Do</h3>
<ul>
<li>Use for clear, simple user or entity representation.</li>
<li>On Tablet and above, prefer showing the full name of the user or entity.</li>
<li>Place the full name of the user or entity to the right of the avatar.</li>
<li>Ensure the text of initial avatars meets WCAG 2.1 contrast ratio against the avatar's background.</li>
<li>Use <code class="language-js">nys-icon</code> as a slot when you need further customizations that the <code class="language-js">icon</code> prop can't provide.</li>
</ul>
</div>
      </div>
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--dont nys-flex-fill">
          <h3 class="card__title"><nys-icon name="warning" size="lg"></nys-icon> Don't</h3>
<ul>
<li>Don't overload the avatar with unnecessary customizations.</li>
<li>Don't override the default user or entity avatar icons unless needed to communicate additional context to the viewer; doing so provides an inconsistent user experience across NYS applications and websites.</li>
<li>[Dev] Don't skip the <code class="language-js">label</code> attribute for screen reader users.</li>
<li>[Dev] Don't use the <code class="language-js">nys-icon</code> as a slot when icon prop can satisfy your use.</li>
</ul>
</div>
      </div>
    </div>
    <section id="accessibility">
      <h2>Accessibility</h2>
<p>The <code class="language-js">nys-</code> component includes the following accessibility-focused features:</p>
<ul>
<li>For intial avatars, include the person's full name as descriptive alt text if the person's full name is not shown next to the avatar: <code>alt=&quot;John Smith&quot;</code></li>
<li>For photo avatars, describe the avatar, and include the person's full name if it is not shown next to the avatar: <code>alt=&quot;Photo of John Smith&quot;</code></li>
<li>Proper ARIA roles and attributes to ensure screen readers can interpret the avatar correctly.</li>
<li>A label property to provide accessible text for screen readers.</li>
</ul>
</section>
    <section id="options">
      <h2>Options</h2>
<h3>Images</h3>
<p>To display an image in the avatar, set the <code class="language-js">image</code> and <code class="language-js">label</code> attributes. Images will take <strong>priority</strong> and <strong>override</strong> initials and icons. You can also enable lazy loading for avatar images by setting the <code class="language-js">lazy</code> boolean attribute.</p>
<p><nys-avatar label="User avatar" image="https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?q=80&w=100" lazy></nys-avatar></p>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">image</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?q=80&amp;w=100<span class="token punctuation">"</span></span> <span class="token attr-name">lazy</span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span>
</code></pre>
</details>
<h2>Initials</h2>
<p>If an image is unavailable, you can set the <code class="language-js">initials</code> attribute to display a personalized placeholder instead of an icon. Initials will take <strong>priority</strong> and <strong>override</strong> icons.</p>
<p><nys-avatar label="User avatar" initials="NY"></nys-avatar></p>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">initials</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>NY<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span></code></pre>
</details>
<h3>Custom Icons</h3>
<p>When no image or initials are set, an icon will be shown. The default avatar shows an icon called "account_circle", but you can customize this with any other name found in <code class="language-js">nys-icon</code> using the <code class="language-js">icon</code> prop or customize directly within <code class="language-js">nys-avatar</code> with the icon slot.</p>
<p><nys-avatar label="User avatar"></nys-avatar>
<nys-avatar label="User avatar">
<nys-icon slot="icon" label="youtube icon" name="social_youtube"></nys-icon>
</nys-avatar>
<nys-avatar label="User avatar">
<nys-icon slot="icon" label="snow icon" name="ac_unit"></nys-icon>
</nys-avatar></p>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-icon</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>icon<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>youtube icon<span class="token punctuation">"</span></span> <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>social_youtube<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-icon</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-icon</span> <span class="token attr-name">slot</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>icon<span class="token punctuation">"</span></span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>snow icon<span class="token punctuation">"</span></span> <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>ac_unit<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-icon</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span></code></pre>
</details>
<h2>Shapes</h2>
<p>To change the shape of the avatar, set the <code class="language-js">shape</code> attribute. The default shape is <strong>circle</strong>, but you can also set it to <strong>square</strong> or <strong>rounded</strong>.</p>
<p><nys-avatar label="User avatar" shape="circle"></nys-avatar>
<nys-avatar label="User avatar" shape="rounded"></nys-avatar>
<nys-avatar label="User avatar" shape="square"></nys-avatar></p>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">shape</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>circle<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">shape</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>rounded<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">shape</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>square<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span></code></pre>
</details>
<h3>Background Color</h3>
<p>You can change the background color of an Avatar. Note that images will naturally cover over the background color.</p>
<p><nys-avatar label="User avatar" color="rebeccapurple"></nys-avatar></p>
<details>
<summary>Example Code</summary>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-avatar</span> <span class="token attr-name">label</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>User avatar<span class="token punctuation">"</span></span> <span class="token attr-name">color</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>rebeccapurple<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nys-avatar</span><span class="token punctuation">></span></span></code></pre>
</details>
</section>
    <section id="properties">
      <h2>Properties</h2>
<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>label</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>image</code></td>
      <td>URL</td>
    </tr>
    <tr>
      <td><code>id</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>initials</code></td>
      <td>string (2 letters)</td>
    </tr>
    <tr>
      <td><code>icon</code></td>
      <td>string (&lt;nys-icon&gt;)</td>
    </tr>
    <tr>
      <td><code>shape</code></td>
      <td>string (square, roundedd, circle)</td>
    </tr>
    <tr>
      <td><code>color</code></td>
      <td>#HEXVAL</td>
    </tr>
    <tr>
      <td><code>lazy</code></td>
      <td>boolean</td>
    </tr>
  </tbody>
</table>
</section>
    <section id="cssvariables">
      <h2>CSS Variables</h2>
<p>[[TODO]]</p>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--nys-toggle-width</code></td>
      <td>Width of the toggle switch.</td>
    </tr>
  </tbody>
  </table>
</section>
    <section id="events">
      <h2>Events</h2>
<p>[[TODO]]</p>
<p>The <code class="language-js">&lt;nys-avatar&gt;</code> component emits <strong>three</strong> custom Javascript events:</p>
<ol>
<li><strong><code>change</code></strong> – Fired when the toggle state changes (checked/unchecked).</li>
<li><strong><code>focus</code></strong> – Fired when the toggle gains focus.</li>
<li><strong><code>blur</code></strong> – Fired when the toggle loses focus.</li>
<li><strong><code>keydown</code></strong> – Fired when a key is pressed while the toggle is focused.</li>
</ol>
<p>You can listen to these events using JavaScript:</p>
<pre class="language-js"><code class="language-js"><span class="token comment">// Select the toggle component</span>
  <span class="token keyword">const</span> toggle <span class="token operator">=</span> document<span class="token punctuation">.</span><span class="token function">querySelector</span><span class="token punctuation">(</span><span class="token string">'nys-toggle'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token comment">// Listen for the 'change' event</span>
  toggle<span class="token punctuation">.</span><span class="token function">addEventListener</span><span class="token punctuation">(</span><span class="token string">'change'</span><span class="token punctuation">,</span> <span class="token punctuation">(</span><span class="token parameter">event</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">{</span>
    console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span><span class="token string">'Checkbox changed:'</span><span class="token punctuation">,</span> event<span class="token punctuation">.</span>target<span class="token punctuation">.</span>checked<span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
</section>
  </div>
</div>

      
    </div>
  </main>

  <div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-6">
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Quick Links</h6>
        <ul>
            <li><a href="/getting-started/" title="How you can use Excelsior.">Getting Started</a></li>
            <li><a href="/foundations/" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="/components/" title="Explore the web components.">Components</a></li>
            <li><a href="/about/" title="Learn more about our team and the mission of this project.">About Excelsior</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Support</h6>
        <ul>
          <li><a href="/privacy/" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="/foundations/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="/about/" title="Contact the Excelsior team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Resources</h6>
        <ul>
            <li><a href="https://github.com/ITS-HCD/excelsior" title="Visit the Excelsior Core GitHub repository.">Excelsior GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/excelsior-fonts" title="Visit the Excelsior Fonts GitHub repository.">Excelsior Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nys-excelsior" title="Explore Excelsior NPM packages.">Excelsior NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYS-%2F-Excelsior-Components-(Alpha)?node-id=20-40&t=Qcrbt459q9JgdW9E-1" title="Access the Excelsior Figma library.">Excelsior Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    
<nys-unavfooter></nys-unavfooter>

  <script type="module" src="https://designsystem.ny.gov//assets/js/vendor/excelsior.js"></script>
<script src="https://designsystem.ny.gov//assets/js/excelsior-site.js"></script>
  
  </body>
</html>
