---
permalink: /components/globalheader/accessibility-tests/
title: Accessibility Checklist
description: How to test the accessibility of a global header.
image: /assets/img/components/global-header.svg
image_alt: An illustration of a global header
image_header: /assets/img/components/global-header-header.svg
stable: true
parent: Global Header
navOrder: 1
draft: true # checklist data is still the unfilled scaffold; remove to publish
eleventyExcludeFromCollections: true
---

<!-- Fill in globalheader.11tydata.json5, then remove `draft: true` to publish this page -->
{% extends "layouts/component-a11y-tests.njk" %}

{#
  In globalheader.11tydata.json5:
  Comment top-level members to determine which njk blocks will render.

  Members that may be commented are exactly these:
  disabilities
  keyboard
  mouse
  screenReader
  screenReaderMobile
  tests
  voice
  zoom
#}
