<div class="nys-grid-row nys-grid-gap-lg">
  <div class="nys-desktop:nys-grid-col-3">
  </div>
  <div class="nys-desktop:nys-grid-col-9">
    {% content | safe %}
  </div>
  <div class="nys-desktop:nys-grid-col-3">
  </div>
</div>
