<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head-meta.njk" %}
    {# {% if crawl == 'false' %} #}
    <meta name="robots" content="noindex">
    {# {% endif %} #}
    {% block styles %}{% endblock %}
    <!-- Latest Build: {{ site.buildDate | dateISO }} -->
  </head>
  <body class="{% if section  %}single-page page-{{ page.fileSlug }} section-{{section | slug}}{% else %}home{% endif %}">

  {% include "partials/unav-header.njk" %}
  {% include "partials/site-header.njk" %}

  <main role="main" data-pagefind-body>
    <div class="nys-grid-container">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </div>
  </main>

  {% include "partials/site-footer.njk" %}
  {% include "partials/unav-footer.njk" %}

  {% include "partials/site-js-global.njk" %}
  {% block scripts %}{% endblock %}
  </body>
</html>
