<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head-meta.njk" %}
    {# {% if crawl == 'false' %} #}
    <meta name=”robots” content=”noindex”>
    {# {% endif %} #}
    {% block styles %}{% endblock %}
    <!-- Latest Build: {{ site.buildDate | dateISO }} -->
  </head>
  <body class="{% if section  %}single-page page-{{ page.fileSlug }}{% else %}home{% endif %}">
<!-- NYS UNAV HEADER -->	
<div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2024-08-26 12:00">
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      hideSearch: true,
      showLanguageHeader: false,
      showLanguageFooter: false,
    };
    (function (document, bundle, head) {
        head = document.getElementsByTagName('head')[0];
        bundle = document.createElement('script');
        bundle.type = 'text/javascript';
        bundle.async = true;
        bundle.src = "https://static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
        head.appendChild(bundle);
    }(document));
  </script>
</div>
<div class="content">
  {% include "partials/site-header.njk" %}
  {% include "partials/site-nav.njk" %}

  <main role="main" data-pagefind-body>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </main>

  {% include "partials/site-footer.njk" %}
</div>
<!-- NYS UNAV FOOTER -->
  <div id="nygov-universal-footer" class="nygov-universal-container"></div>

  {% include "partials/site-js-global.njk" %}
  {% block scripts %}{% endblock %}
  {# Script is commented out because it is not working on the 11ty server, needs to be a referenced, or rolled-up  #}
  {# <script type="module">
      (async () => {
        // Start fetching the Lit hydration support module (note the absence
        // of "await" -- we don't want to block yet).
        const litHydrateSupportInstalled = import(
          '/node_modules/@lit-labs/ssr-client/lit-element-hydrate-support.js'
        );

        // The Lit hydration support module must be installed before we can
        // load any component definitions. Wait until it's ready.
        await litHydrateSupportInstalled;

        // Load component definitions. As each component definition loads, your
        // pre-rendered components will come to life and become interactive.
        //
        // You may also prefer to bundle your components into fewer JS modules.
        // See https://lit.dev/docs/tools/production/#building-with-rollup for
        // more details.
        import('/assets/js/nys-alert/nys-alert.js');
      
      })();
    </script> #}
  </body>
</html>
