<div class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-3">
    <p><strong>On this page</strong></p>
    <ul>
      <li><a href="#example">Example</a></li>
      <li><a href="#examplecode">Example Code</a></li>
      <li><a href="#usage">Usage</a></li>
      <li><a href="#accessibility">Accessibility</a></li>
      <li><a href="#options">Options</a></li>
      <li><a href="#properties">Properties</a></li>
      <li><a href="#cssvariables">CSS Variables</a></li>
      <li><a href="#events">Events</a></li>
  </div>

  <div class="nys-tablet:nys-grid-col-9">
{% block content %}

<section>
  <h1 style="font-size: var(--nys-font-size-display-md)">{{ title }}</h1>
  {# {{ content | safe }} #}
  {# <div> 
    {% if tags %}
      <ul>
        {% for tag in tags %}
          <li>#{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div> #}
</section>

{% endblock %}

{% block longdescription %}{% endblock %}

<h2 id="example">Example</h2>
{% block example %}{% endblock %}

<h2 id="examplecode">Example Code</h2>
{% highlight "html" %}
{% block examplecode %}{% endblock %}
{% endhighlight %}

<h2 id="usage">Usage</h2>
{% block usage %}{% endblock %}

<div class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-6">
    <div class="card">
      <h3 class="card__title"><nys-icon name="check_circle" size="xl"></nys-icon> Do</h3>
  {% block usagedo %}{% endblock %}
    </div>
  </div>

  <div class="nys-tablet:nys-grid-col-6">
    <div class="card">
      <h3 class="card__title"><nys-icon name="warning" size="xl"></nys-icon> Don't</h3>
  {% block usagedont %}{% endblock %}
    </div>
  </div>
</div>

<h2 id="accessibility">Accessibility</h2>
{% block accessibility %}{% endblock %}

<h2 id="options">Options</h2>
{% block options %}{% endblock %}

<h2 id="properties">Properties</h2>
{% block properties %}{% endblock %}

<h2 id="cssvariables">CSS Variables</h2>
{% block cssvariables %}{% endblock %}

<h2 id="events">Events</h2>
{% block events %}{% endblock %}

{# <h2 id="updates">Updates</h2>
{% block updates %}{% endblock %} #}
</div>