{% block content %}

<section>
  <h1 style="font-size: var(--nys-font-size-display-md)">{{ title }}</h1>
  {# {{ content | safe }} #}
  {# <div> 
    {% if tags %}
      <ul>
        {% for tag in tags %}
          <li>#{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div> #}
</section>

{% endblock %}

{% block longdescription %}{% endblock %}

<h2>Example</h2>
{% block example %}{% endblock %}

<h2>Example Code</h2>
{% highlight "html" %}
{% block examplecode %}{% endblock %}
{% endhighlight %}

<h2>Usage</h2>
{% block usage %}{% endblock %}

<div class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-6">
    <div class="card">
      <h3 class="card__title"><nys-icon name="check_circle" size="xl"></nys-icon> Do</h3>
  {% block usagedo %}{% endblock %}
    </div>
  </div>

  <div class="nys-tablet:nys-grid-col-6">
    <div class="card">
      <h3 class="card__title"><nys-icon name="warning" size="xl"></nys-icon> Don't</h3>
  {% block usagedont %}{% endblock %}
    </div>
  </div>
</div>

<h2>Accessibility</h2>
{% block accessibility %}{% endblock %}

<h2>Options</h2>
{% block options %}{% endblock %}

<h2>Properties</h2>
{% block properties %}{% endblock %}

<h2>CSS Variables</h2>
{% block cssvariables %}{% endblock %}

<h2>Events</h2>
{% block events %}{% endblock %}

{# <h2>Updates</h2>
{% block updates %}{% endblock %} #}
