{% extends "layouts/base.njk" %}

{% block content %}
{% set previousUpdate = collections.updates | getPreviousCollectionItem(page) %}
{% set nextUpdate = collections.updates | getNextCollectionItem(page) %}
<div class="nys-grid-container-widescreen">
<div class="nys-grid-row nys-grid-gap">
  <div class="nys-desktop:nys-grid-col-10">  
    
<section class="post-content">

  <h1>{{ title }}</h1>

  <div class="nys-grid-row">
    <div class="nys-grid-col nys-flex-1"><time datetime="{{ page.date | dateISO }}">{{ page.date | dateFull }}</time></div>
    <div class="nys-grid-col nys-flex-1">{{ author }}</div>
  </div>
  
  
  <div class="nys-grid-row">
    <div class="nys-grid-col nys-flex-1">{{ content | timeToRead ('200 words a minute') }} read time</div>
    {% if tags %}
      <ul class="tag__list">
        {% for tag in tags %}
          <li class="tag">#{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="nys-grid-row nys-margin-t-400">
    <div class="nys-grid-col">
    {{ content | safe }}
    </div>
  </div>
  
    <div class="nys-grid-row nys-margin-t-400">
    <div class="nys-grid-col">
      <div>{% if previousUpdate %}Up Next: <a href="{{ previousUpdate.url }}" title="Read: {{ previousUpdate.data.title | safe }}"><b>{{ previousUpdate.data.title }}</b></a>{% endif %}</div>
      <div>{% if nextUpdate %}Previous : <a href="{{ nextUpdate.url }}" title="Read: {{ nextUpdate.data.title | safe }}"><b>{{ nextUpdate.data.title }}</b></a>{% endif %}</div>
    </div>
  </div>
{% include "partials/edit-link.njk" %}
</section>
  </div>
  <aside class="nys-desktop:nys-grid-col-2">
    {% include "partials/onpage-nav.njk" %}
  </aside>
</div>
</div>
{% endblock %}