---
permalink: /a11y/
title: "The New York State Design System"
description: "The NYS Design System makes it easier to build accessible, mobile-friendly applications and websites for New York State."
crawl: false
site_nav: false
heading_links: false
---

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <meta charset="utf-8" />
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="/foundations/accessibility/" />
  <meta http-equiv="refresh" content="0; url=/foundations/accessibility/" />
  <meta name="robots" content="noindex" />
  <a href="/foundations/accessibility">Click here if you are not redirected.</a>
</html>