---
permalink: /
title: "The New York State Design System"
description: "The NYS Design System makes it easier to build accessible, mobile-friendly applications and websites for New York State."
crawl: false
site_nav: false
heading_links: false
---

{% extends "layouts/base.njk" %}

{% block content %}
<!-- Home Hero -->
<div class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <img src="{{ '/assets/img/nysds_logo_long.svg' | url }}" alt="New York State Design System">
      <p>The New York State Design System helps teams rapidly design and build accessible, mobile-friendly web applications and sites.</p>
      <nys-button label="Get started today" size="lg" href="/get-started/"></nys-button>
    </div>
    <div class="hero__media">
      <img src="{{ '/assets/img/homepage-grid.svg' | url }}" alt="">
    </div>
  </div>
</div>

{# Get Started Section #}
<div class="nys-grid-container-widescreen nys-top-600">
  <div class="nys-grid-row nys-flex-row nys-grid-gap-lg">
    <div class="nys-grid-col-12 nys-tablet:nys-grid-col-6">
      <h2>Start Designing</h2>
      <p>Reusable design templates with built-in code-paired components.</p>
      <nys-button size="sm" label="Start designing" variant="outline" href="/get-started/designers/"></nys-button>
    </div>
    <div class="nys-grid-col-12 nys-tablet:nys-grid-col-6">
      <h2>Start Developing</h2>
      <p>Code components to create rich user experiences.</p>
      <nys-button size="sm" label="Start developing" variant="outline" href="/get-started/developers/"></nys-button>
    </div>
  </div>
</div>

{# <!-- About the NYS Design System Section --> #}
<div class="color-theme--weaker nys-top-800">
  <div class="nys-grid-container-widescreen">
    <div class="nys-grid-row nys-flex-row nys-grid-gap-lg">
      <div class="nys-grid-col-12">
        <h3>What is the New York State Design System?</h3>
      </div>
    </div>
    <div class="nys-grid-row nys-grid-gap-lg">
      <div class="nys-grid-col-6 nys-desktop:nys-grid-col-3 nys-display-flex">
        <a class="card card__no-border card__flat nys-flex-fill" href="/components/">
          <div class="card__inner">
            <div class="card__media">
              <img src="/assets/img/toggle-card.svg" alt="toggle graphic">
            </div>
            <div class="card__title">Component Library</div>
            <div class="card__desc">A collection of common front-end code grouped together in components that can be shared and reused across multiple codebases, often with design, state, and default behavior built-in.
            </div>
          </div>
        </a>
      </div>
      <div class="nys-grid-col-6 nys-desktop:nys-grid-col-3 nys-display-flex">
        <a class="card card__no-border card__flat nys-flex-fill" href="/get-started/designers/">
          <div class="card__inner">
            <div class="card__media">
              <img src="/assets/img/flex-card.svg" alt="flexdbox graphic">
            </div>
            <div class="card__title">Design Libraries</div>
            <div class="card__desc">
              A library of icons, styles, components, and variables that can be shared and reused across multiple design files for consistent design and prototyping.
            </div>
          </div>
        </a>
      </div>
      <div class="nys-grid-col-6 nys-desktop:nys-grid-col-3 nys-display-flex">
        <a class="card card__no-border card__flat nys-flex-fill" href="/foundations/tokens/">
          <div class="card__inner">
            <div class="card__media">
              <img src="/assets/img/4-up-card.svg" alt="4 up graphic">
            </div>
            <div class="card__title">Design Tokens</div>
            <div class="card__desc">A collection of design decisions stored in key-value pairs, abstracted so they can easily be used across a wide range of platforms, design and code.</div>
          </div>
        </a>
      </div>
      <div class="nys-grid-col-6 nys-desktop:nys-grid-col-3 nys-display-flex">
        <a class="card card__no-border card__flat nys-flex-fill" href="/foundations/utilities/typography/">
          <div class="card__inner">
            <div class="card__media">
              <img src="/assets/img/font-card.svg" alt="fonts">
            </div>
            <div class="card__title">Typography</div>
            <div class="card__desc">A collection of standard NYS brand-approved typefaces that need to be used in both design and development product work.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{# End color-theme--weaker full bleed #}

<div class="nys-grid-container-widescreen nys-top-800">
  <div class="nys-grid-row nys-flex-row nys-grid-gap-lg">
    <div class="nys-grid-col-12">
      <h3>Got Feedback?</h3>
    </div>
    <div class="nys-grid-col-12 nys-desktop:nys-grid-col-3">
      <h4>NYS Employees</h4>
      <p><a href="https://teams.microsoft.com/l/team/19%3Al5Zo00jgzpzTb5ACeXQQVatofIuRI-C0ThuQXbndb9U1%40thread.tacv2/conversations?groupId=40dc9e8f-13b9-4301-8cb7-db5c2b21c9fa&tenantId=f46cb8ea-7900-4d10-8ceb-80e8c1c81ee7">Follow the NYS Design System on Teams</a></p>
    </div>
    <div class="nys-grid-col-12 nys-desktop:nys-grid-col-3">
      <h4>Email us</h4>
      <p><a href="mailto:designsystem@its.ny.gov">designsystem@its.ny.gov</a></p>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}