---
permalink: /
title: "The New York State Design System"
description: "NYSDS makes it easier to build accessible, usable websites for New York State."
crawl: false
site_nav: false
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="hero">
<div class="nys-grid-row nys-flex-row nys-container-widescreen nys-grid-gap-lg">
  <div class="nys-grid-col-12 nys-desktop:nys-grid-col-6 nys-display-flex nys-flex-column nys-flex-align-center nys-flex-justify-center">
    <img src="{{ '/assets/img/nysds_logo_long.svg' | url }}" alt="NYSDS, New York State's Design System" style="width: 75%;"> 
    <div class="nys-grid-offset-3">
      <p>The New York State Design System (NYSDS) helps teams rapidly build usable, accessible, mobile-friendly web applications and sites.</p>
    </div>
  </div>     
  <div class="nys-tablet:nys-grid-col-6 nys-display-none nys-desktop:display-block">
    <img src="{{ '/assets/img/homepage-grid.svg' | url }}" alt="NYSDS, New York State's Design System" style="width: 100%;"> 
  </div>
</div>
</div>


<section>
<h1>A design system for New York State websites.</h1>
<p>Tools, resources, and guidance for building accessible, usable New York State government websites.</p>
</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}
