---
permalink: /search/
title: "The New York State Design System"
description: "The NYS Design System makes it easier to build accessible, mobile-friendly applications and websites for New York State."
crawl: false
site_nav: false
---
{% extends "layouts/base.njk" %}

{% block content %}
<div class="nys-grid-container-widescreen">
<h1>Search</h1>
    <div id="search" class="search"></div>

    <script src="{{ site.url }}/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: true });"></script>

</div>
{% endblock %}