

#nygov-universal-navigation {
    min-height: 95px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    #nygov-universal-navigation {
        min-height: 60px;
    }
}
.nys-unav {
    
}
html { scroll-behavior: smooth; }

nav a, nav a:visited {
    text-decoration: none;
    color: var(--nys-color-ink)
}

nav a:hover {
    text-decoration: underline;
}

.inpagenav ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0.5rem 0;
}

.inpagenav li {
    list-style: none;
    margin: 0;
    border-left: 3px solid transparent;
}

.inpagenav a {
    display: block;
    padding: 0.25rem;
}

.inpagenav li.active {
    font-weight: bold;
    border-left: 3px solid var(--nys-color-ink);
}

/* Syntax highlighting plugin tweaks */

/* Remove the curly "peel" shadows from the bottom of code snippets */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none !important;
}

/* Add some vertical padding to the code blocks */
pre[class*="language-"] > code {
    padding: 1em;
}

/* === Global Styles */
/* These really need to be defined in excelsior.css */

/* === Typography */

body {
    margin: 0;
    font-family: var(--nys-font-family-body);
    color: var(--nys-color-ink);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--nys-font-family-heading);
}
h1 {
    font-size: var(--nys-font-size-h1);
    line-height: var(--nys-font-lineheight-h1);
}
h2 {
    font-size: var(--nys-font-size-h2);
    line-height: var(--nys-font-lineheight-h2);
}
h3 {
    font-size: var(--nys-font-size-h3);
    line-height: var(--nys-font-lineheight-h3);
}
h4 {
    font-size: var(--nys-font-size-h4);
    line-height: var(--nys-font-lineheight-h4);
}
h5 {
    font-size: var(--nys-font-size-h5);
    line-height: var(--nys-font-lineheight-h5);
}
h6 {
    font-size: var(--nys-font-size-h6);
    line-height: var(--nys-font-lineheight-h6);
}

p, ul, ol, dl, blockquote {
    line-height: var(--nys-font-lineheight-body-md);   
}

a {
    color: var(--nys-color-link);
    text-decoration: none;
}
a:hover,
a:focus {
    color: var(--nys-color-link-strong);
    text-decoration: underline;
}
a:active {
    color: var(--nys-color-link-strongest);
}

/* === Selective Resets */

/* Box Model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin/Padding for Text Elements */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, pre {
    margin: 0;
    padding: 0;
  }

/* Lists */

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}  

li::marker {
    content: none;
}

/* === Custom Components */

/* Site Footer */

.site-footer {
    background-color: var(--nys-color-neutral-50);
    color: var(--nys-color-ink);
    padding: var(--nys-space-400) 0;
    font-size: var(--nys-font-size-body-md);
}
.site-footer__list-header {
    padding-bottom: var(--nys-space-100);
    margin-bottom: var(--nys-space-200);
    border-bottom: solid 1px var(--nys-color-black);
}
.site-footer li {
    padding-bottom: var(--nys-space-200);
}
.site-footer a {
    color: var(--nys-color-ink);
}

/* Content Intro */

.content-intro {
    padding: var(--nys-space-100) 0;
    border-top: solid 1px var(--nys-color-theme-mid);
    border-bottom: solid 1px var(--nys-color-theme-mid);
    margin-bottom: var(--nys-space-250);
}

/* Excelsior Subheader */
.ex-header {
    margin-bottom: var(--nys-space-200);
    background-color: var(--nys-color-theme-strong);
}
ex-header__title {
    color: white;
}

/* Card */

.card {
    border: solid var(--nys-size-1px) var(--nys-color-neutral-200);
    border-radius: var(--nys-radius-lg);
    padding: var(--nys-space-200);
    margin-bottom: var(--nys-space-200);
    align-items: stretch; 
}
.card__media {
    aspect-ratio: 2 / 1;
    margin-bottom: var(--nys-space-100);
}
.card__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--nys-radius-md);
}
.card__title {
    font-size: var(--nys-font-size-h3);
    margin-bottom: var(--nys-space-100);
    font-weight: bold;
}
.card a {
    color: var(--nys-color-ink);
}