/* === Selective Resets */

/* Box Model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin/Padding for Text Elements */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, pre {
    margin: 0;
    padding: 0;
  }

/* Lists */

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}  

/* === Global Styles */
/* These really need to be defined in excelsior.css */

/* === Typography */

html { scroll-behavior: smooth; }

body {
    margin: 0;
    font: var(--nys-font-size-md) / var(--nys-font-lineheight-md) var(--nys-font-family-body);
    color: var(--nys-color-ink);
}
small {
    font: var(--nys-font-size-xs) / var(--nys-font-lineheight-xs) var(--nys-font-family-body);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--nys-font-family-heading);
}

h1 {
    font: var(--nys-font-weight-h1, bold) var(--nys-font-size-h1) / var(--nys-font-lineheight-h1) var(--nys-font-family-heading);
    margin-top: var(--nys-space-600);
    margin-bottom: var(--nys-space-250);
}

h2 {
    font: var(--nys-font-weight-h2, bold) var(--nys-font-size-h2) / var(--nys-font-lineheight-h2) var(--nys-font-family-heading);
    margin-top: var(--nys-space-500);
    margin-bottom: var(--nys-space-200);
}

h3 {
    font: var(--nys-font-weight-h3, bold) var(--nys-font-size-h3) / var(--nys-font-lineheight-h3) var(--nys-font-family-heading);
    margin-top: var(--nys-space-400);
    margin-bottom: var(--nys-space-150);
}

h4 {
    font: var(--nys-font-weight-h4, bold) var(--nys-font-size-h4) / var(--nys-font-lineheight-h4) var(--nys-font-family-heading);
    margin-top: var(--nys-space-300);
    margin-bottom: var(--nys-space-100);
}

h5 {
    font: var(--nys-font-weight-h5, bold) var(--nys-font-size-h5) / var(--nys-font-lineheight-h5) var(--nys-font-family-heading);
    margin-top: var(--nys-space-250);
    margin-bottom: var(--nys-space-100);
}

h6 {
    font: var(--nys-font-weight-h6, bold) var(--nys-font-size-h6) / var(--nys-font-lineheight-h6) var(--nys-font-family-heading);
    margin-top: var(--nys-space-200);
    margin-bottom: var(--nys-space-100);
}


p, ul, ol, dl, blockquote {
    font: var(--nys-font-size-md) / var(--nys-font-lineheight-md) var(--nys-font-family-body);
    margin-bottom: var(--nys-space-150);
}

small {
    margin-bottom: var(--nys-space-100);
}

/* Adjust for specific scenarios */

h1 + h2, 
h2 + h3, 
h3 + h4, 
h4 + h5, 
h5 + h6 {
    margin-top: var(--nys-space-150);
}

p + p {
    margin-top: var(--nys-space-150);
}

section {
    margin-bottom: var(--nys-space-400);
}

/* --- Lists --- */

ul, ol {
    margin-top: 0;
    padding-left: var(--nys-space-200);
}

blockquote > ul, blockquote > ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* Unordered Lists (Bullets) */
ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
    padding-left: var(--nys-space-200);
}

ul ul ul {
    list-style-type: square;
    padding-left: var(--nys-space-200);
}

/* Ordered Lists (Numbers) */

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
    padding-left: var(--nys-space-200);
}

ol ol ol {
    list-style-type: lower-roman;
    padding-left: var(--nys-space-200);
}

/* Lists Items */

li {
    margin-bottom: var(--nys-space-100);
}

li::marker {
    color: var(--nys-color-theme-primary, #000);
}

/* Links */

a {
    color: var(--nys-color-link);
}
a:hover,
a:focus {
    color: var(--nys-color-link-strong);
}
a:active {
    color: var(--nys-color-link-strongest);
}

/* === Custom Components */

/* Site Header */

/* --- Site Header Layout --- */

.site-header {
    padding: var(--nys-space-200) 0;
}

.site-header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--nys-space-150);
}

.site-header__logo {
    display: flex;
    align-items: center;
}

.site-header__logo img {
    display: block;
    height: auto;
    max-width: 100%;
}

.site-header__nav {
    width: 100%;
}

.site-header__nav ul {
    font-size: var(--nys-font-size-body-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.site-header__nav li {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.site-header__nav a {
    text-decoration: none;
    color: var(--nys-color-ink);
    padding: var(--nys-space-100);
    display: inline-block;
}

.site-header__nav a:hover,
.site-header__nav a:focus {
    color: var(--nys-color-theme);
    text-decoration: underline;
}
@media (min-width: 768px) {
    .site-header__nav ul {
        font-size: var(--nys-font-size-body-md);
    }
    .site-header__nav a {
        padding: var(--nys-space-100) var(--nys-space-200);
    }
}
@media (min-width: 1024px) {
    .site-header__logo img {
        max-width: 350px;
        height: auto;
    }
    .site-header__inner {
        flex-direction: row;
        justify-content: space-between;
    }

    .site-header__nav {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    .site-header__nav ul {
        justify-content: flex-end;
    }
}


/* In-Page Navigation */

.inpagenav {
    position:sticky; top:1rem;
    padding-top: var(--nys-space-600);
}
.inpagenav ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0.5rem 0;
}

.inpagenav li {
    list-style: none;
    margin: 0;
    border-left: 3px solid transparent;
}

.inpagenav a {
    display: block;
    padding: 0.25rem;
    text-decoration: none;
    color: var(--nys-color-ink);
}

.inpagenav a:hover {
    text-decoration: underline;
}

.inpagenav li.active {
    font-weight: bold;
    border-left: 3px solid var(--nys-color-ink);
}

/* Section Header */

.section-header {
    background-color: var(--nys-color-theme-strong);
    color: var(--nys-color-theme-weak, #fff);
}
.section-header__inner {
    padding-top: var(--nys-space-200);
    padding-bottom: var(--nys-space-200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.section-header__title {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    margin-top: var(--nys-space-200);
}
.section-header__media {
    margin-top: var(--nys-space-50);
    overflow: hidden;;
}
.section-header__media img {
    max-width: 100%;    
    display: block;
    width: clamp(200px, 50vw, 550px);
    height: auto;
}

@media (min-width: 768px) {
    .section-header__inner {
        flex-direction: row;
        align-items: flex-end;
    }
    .section-header__media {
        margin-top: 0;
    }
}

/* Site Footer */

.site-footer {
    background-color: var(--nys-color-neutral-50);
    color: var(--nys-color-ink);
    padding: var(--nys-space-400) 0;
    font-size: var(--nys-font-size-body-md);
}
.site-footer__list-header {
    padding-bottom: var(--nys-space-100);
    margin-bottom: var(--nys-space-200);
    border-bottom: solid 1px var(--nys-color-theme);
}
.site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-footer li {
    margin-bottom: var(--nys-space-200);
}
.site-footer a {
    color: var(--nys-color-ink);
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}

/* Content Intro */

.content-intro {
    padding: var(--nys-space-100) 0;
    border-top: solid 1px var(--nys-color-theme-mid);
    border-bottom: solid 1px var(--nys-color-theme-mid);
    margin-bottom: var(--nys-space-250);
}

/* Excelsior Subheader */
.ex-header {
    margin-bottom: var(--nys-space-200);
    background-color: var(--nys-color-theme-strong);
}
ex-header__title {
    color: white;
}

/* Card */

.card {
    border: solid var(--nys-size-1px) var(--nys-color-neutral-200);
    border-radius: var(--nys-radius-lg);
    padding: var(--nys-space-200);
    margin-bottom: var(--nys-space-200);
    align-items: stretch; 
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
}
.card__media {
    aspect-ratio: 2 / 1;
    margin-bottom: var(--nys-space-100);
}
.card__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--nys-radius-md);
}
.card__title {
    font-size: var(--nys-font-size-h3);
    font-weight: var(--nys-font-weight-h3, bold);
    margin-top: var(--nys-space-100);
    margin-bottom: var(--nys-space-150);
}
.card__title, .card__desc {
    text-decoration: none;
}
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: transparent;
}
a.card {
    color: inherit;
    text-decoration: none;
}
a.card:hover .card__title,
a.card:focus .card__title {
    text-decoration: underline;
}
a.card:focus {
    border-color: var(--nys-color-focus, #004dd1);
    outline: var(--nys-border-width-sm, 1px) solid var(--nys-color-focus, #004dd1);
    outline-offset: 0;
}

/* Additional Tweaks */

/* UNav Hacks - REMOVE BEFORE LAUNCH */
#nygov-universal-navigation {
    min-height: 95px;
    border-bottom: solid 1px #ddd;
}
@media (min-width: 768px) {
    #nygov-universal-navigation {
        min-height: 60px;
    }
}

/* Syntax highlighting plugin tweaks */

/* Remove the curly "peel" shadows from the bottom of code snippets */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none !important;
}

/* Add some vertical padding to the code blocks */
pre[class*="language-"] > code {
    padding: 1em;
}
