body {
    margin: 0;
    font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
    color: var(--nys-color-ink)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-bold);
}

#nygov-universal-navigation {
    min-height: 95px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    #nygov-universal-navigation {
        min-height: 60px;
    }
}
.nys-unav {
    
}

nav a, nav a:visited {
    text-decoration: none;
    color: var(--nys-color-ink)
}

nav a:hover {
    text-decoration: underline;
}

/* Syntax highlighting plugin tweaks */

/* Remove the curly "peel" shadows from the bottom of code snippets */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none !important;
}
code[class*="language-"] {
    font-family: var(--primary-font-mono);
    padding: 1em;
}

/* === Custom Components */

/* Content Intro */

.content-intro {
    padding: var(--nys-space-100) 0;
    border-top: solid 1px var(--nys-color-theme-mid);
    border-bottom: solid 1px var(--nys-color-theme-mid);
    margin-bottom: var(--nys-space-250);
}

/* Card */

.card {
    border: solid var(--nys-size-1px) var(--nys-color-neutral-200);
    border-radius: var(--nys-radius-lg);
    padding: var(--nys-space-200);
    margin-bottom: var(--nys-space-200);
    align-items: stretch; 
}
.card__media {
    margin-bottom: var(--nys-space-100);
}
.card__title {
    font-size: var(--nys-size-300);
    margin-bottom: var(--nys-space-100);
    font-weight: bold;
}