body {
    margin: 0;
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-bold);
}

.nygov-universal-container {
    height: 60px;
}

.content {
    /* max-width: 1280px;
    padding: 1rem; */
}

/* Syntax highlighting plugin tweaks */

/* Remove the curly "peel" shadows from the bottom of code snippets */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none !important;
}
