<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Excelsior, New York State's Design System - Excelsior Design System</title>
    <meta name="description" content="Excelsior makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">   
    <link rel="canonical" href="https://its-hcd.github.io/excelsior-site//components/">

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Excelsior, New York State's Design System">
    <meta property="og:site_name" content="Excelsior Design System">
    <meta property="og:url" content="https://its-hcd.github.io/excelsior-site//components/">
    <meta property="og:description" content="Excelsior makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    
    <link rel="preload" href="https://its-hcd.github.io/excelsior-site//assets/fonts/proximanova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://its-hcd.github.io/excelsior-site//assets/fonts/excelsior-fonts.css" rel="stylesheet">    
    <link href="https://its-hcd.github.io/excelsior-site//pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-coy.css"rel="stylesheet">
    <link href="https://its-hcd.github.io/excelsior-site//assets/css/vendor/excelsior-full.min.css" rel="stylesheet">    
    <link href="https://its-hcd.github.io/excelsior-site//assets/css/excelsior-site.css" rel="stylesheet">    


    
    <meta name=”robots” content=”noindex”>
    
    

    <!-- Latest Build: 2025-01-23T18:49:58.508+00:00 -->
  </head>
  <body class="home">
  <div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2024-08-26 12:00">
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      hideSearch: true,
      showLanguageHeader: false,
      showLanguageFooter: false,
    };
    (function (document, bundle, head) {
        head = document.getElementsByTagName('head')[0];
        bundle = document.createElement('script');
        bundle.type = 'text/javascript';
        bundle.async = true;
        bundle.src = "https://static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
        head.appendChild(bundle);
    }(document));
  </script>
</div>
  <div class="nys-grid-container content">
  <nav class="nys-grid-row">
    <div class="nys-grid-col-auto">
        <a href="https://its-hcd.github.io/excelsior-site/" title="Home"><img src="/excelsior-site/assets/img/logo-excelsior.svg"></a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/getting-started" title="Getting Started" class=" nys-display-flex nys-flex-justify-center">Getting Started</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/foundations" title="Foundations" class=" nys-display-flex nys-flex-justify-center">Foundations</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center nys-flex-justify-center">
        <a href="/excelsior-site/components" title="Components" class=" nys-display-flex nys-flex-justify-center">Components</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/about" title="About" class=" nys-display-flex nys-flex-justify-center">About</a>
    </div>
</nav>



  <main role="main" data-pagefind-body>
    




<h1>Components</h1>

<div class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-8">
    <div class="content-intro">
      <div class="content-intro__inner">  
        <p>Excelsior offers a library of reusable building blocks for creating consistent, accessible, scalable digital experiences across New York State government sites. They are designed and tested to meet WCAG 2.2 AA compliance so they're accessible. They are styled with design tokens for flexibility. And they are built with web components so they work across platforms and frameworks.</p>
      </div>
    </div>
  </div>
  <div class="nys-tablet:nys-grid-col-4">
    <ul>
      <li><a href="#">How to Use</a></li>
      <li><a href="#">GitHub Issues</a></li>
      <li><a href="#">NPM Components</a></li>
    </ul>
  </div>
</div>

<div class="nys-grid-row nys-grid-gap"><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/excelsior-site/assets/img/components/alert.svg" alt="Alert"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/alert/">Alert</a></div>
        <div class="card__desc">Alert cards are designed to display critical information, updates, or warnings that require the user&#39;s attention.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/excelsior-site/assets/img/components/avatar.svg" alt="Avatar"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/avatar/">Avatar</a></div>
        <div class="card__desc">Avatars represent a user visually through an image, initials, or an icon and typically identify user-specific actions.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/excelsior-site/assets/img/components/checkbox.svg" alt="Checkbox"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/checkbox/">Checkbox</a></div>
        <div class="card__desc">A checkbox is a form input that allows users to select multiple options independently from a list.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Icon"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/icon/">Icon</a></div>
        <div class="card__desc">Visual symbols used to convey meaning or action.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Radiobutton"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/radiobutton/">Radiobutton</a></div>
        <div class="card__desc">Form input for selecting one option from a group.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Select"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/select/">Select</a></div>
        <div class="card__desc">Dropdown menu for selecting a single option.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Textarea"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/textarea/">Textarea</a></div>
        <div class="card__desc">Field for entering multiple lines of text.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Textinput"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/textinput/">Textinput</a></div>
        <div class="card__desc">Field for entering short text strings, like email, number, password, and more.</div>
      </div>
    </div>
  </div><div class="nys-mobile-lg:nys-grid-col-4">
    <div class="card">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="../assets/img/components/placeholder.svg" alt="Toggle"></div>
          
        <div class="card__title"><a href="/excelsior-site/content/components/toggle/">Toggle</a></div>
        <div class="card__desc">Switch component for enabling or disabling a setting.</div>
      </div>
    </div>
  </div></div>


  </main>

  
<ul>
  <li><a href="/excelsior-site/privacy/" title="Review our privacy policy.">Privacy</a></li>
  <li><a href="/excelsior-site/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
  <li><a href="/excelsior-site/about/#contact" title="Contact the Excelsior team.">Contact</a></li>
</ul>


</div>
    <div id="nygov-universal-footer" class="nygov-universal-container"></div>


  <script src="https://its-hcd.github.io/excelsior-site//assets/js/vendor/excelsior.js"></script>
  

  </body>
</html>
