<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Web Components - New York State Design System</title>

<meta name="description" content="The NYS Design System makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">
<link rel="canonical" href="https://designsystem.ny.gov/components/">
<link rel="icon" type="image/svg+xml" href="https://designsystem.ny.gov/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="https://designsystem.ny.gov/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="NYSDS">

<meta property="og:title" content="Web Components">
<meta property="og:site_name" content="New York State Design System">
<meta property="og:url" content="https://designsystem.ny.gov/components/">
<meta property="og:description" content="The NYS Design System makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">

<meta property="og:image" content="https://designsystem.ny.gov/assets/img/nysds_og_image.png">

<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:logo" content="https://designsystem.ny.gov/assets/img/nysds-logo-mark.png">
<meta name="google-site-verification" content="3HnIZEb3eGAR0wp23L9DnHO-pVHPXkewO5BuVaXlrSk">

<link href="https://designsystem.ny.gov/assets/css/vendor/nysds-full.min.css" rel="stylesheet">
<link rel="preload" href="https://designsystem.ny.gov/assets/fonts/proximanova-regular.woff" as="font" type="font/woff" crossorigin="">
<link href="https://designsystem.ny.gov/assets/fonts/nysds-fonts.css" rel="stylesheet">
<link href="https://designsystem.ny.gov/pagefind/pagefind-ui.css" rel="stylesheet">
<link href="https://designsystem.ny.gov/assets/css/prism-theme.css" rel="stylesheet">
<link href="https://designsystem.ny.gov/assets/css/nysds-site.css" rel="stylesheet">

<!-- Google tag (gtag.js) -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-M4JYBJ7BZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-M4JYBJ7BZY');
</script>
    
    <!-- Latest Build: 2025-12-01T14:00:22.932+00:00 -->
  </head>
  
  <body class="single-page page-components section-components">
  <nys-skipnav></nys-skipnav>
  <nys-unavheader hideTranslate="" hideSearch=""></nys-unavheader>
  <nys-globalheader appName="NYS Design System" homepageLink="/">
  <ul data-pagefind-ignore="all">
    <li class="site-header__item"><a href="/get-started" class="site-header__link" title="Get Started">Get Started</a></li>
    <li class="site-header__item"><a href="/foundations" class="site-header__link" title="Foundations">Foundations</a></li>
    <li class="site-header__item site-header__item--active"><a href="/components" class="site-header__link" title="Components">Components</a></li>
    <li class="site-header__item"><a href="/learn" class="site-header__link" title="NYS Design System Video Series">Learn</a></li>
    <li class="site-header__item"><a href="/updates" class="site-header__link" title="Whatʼs New">Whatʼs New</a></li>
    <li class="site-header__item"><a href="/search" class="site-header__link" title="Search this website">Search</a></li>
  </ul>
</nys-globalheader>


<div class="section-header" data-pagefind-ignore="all">
    <div class="section-header__inner nys-grid-container-widescreen">
        <div class="section-header__title">
            Components
        </div>
        <div class="section-header__media">
            
                <img src="https://designsystem.ny.gov/assets/img/sections/section-components.svg" alt="Components section header">
            
        </div>
    </div>
</div>



  <main role="main" id="main-content" data-pagefind-body="">
  
      
<div class="nys-grid-container-widescreen">
<div class="nys-grid-row nys-grid-gap">
  <aside class="nys-desktop:nys-grid-col-2">
    <nav class="section-nav accordion" aria-label="Section Navigation" data-pagefind-ignore="all">
  <button id="accordion-trigger-components" class="section-nav__toggle accordion__trigger" type="button" aria-expanded="false" aria-controls="accordion-panel-components">
    <span class="accordion__label">Components</span>
    <nys-icon name="chevron_down" size="xl" aria-hidden="true"></nys-icon>
  </button>

  <ul class="section-nav__list accordion__panel" id="accordion-panel-components" aria-labelledby="accordion-trigger-components" hidden="">



  
  

  
  

  
  
    
    
    <li class="section-nav__item section-nav__item--active-section section-nav__item--active">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/" aria-current="page">
        Web Components
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/accordion/">
        Accordion
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/alert/">
        Alert
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/avatar/">
        Avatar
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/backtotop/">
        Back To Top
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/badge/">
        Badge
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/button/">
        Button
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/checkbox/">
        Checkbox
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/divider/">
        Divider
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/fileinput/">
        File Input
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/globalfooter/">
        Global Footer
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/globalheader/">
        Global Header
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/icon/">
        Icon
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/modal/">
        Modal
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/pagination/">
        Pagination
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/radiobutton/">
        Radio Button
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/select/">
        Select
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/skipnav/">
        Skip Navigation
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/stepper/">
        Stepper
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/textarea/">
        Text Area
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/textinput/">
        Text Input
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/toggle/">
        Toggle
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/tooltip/">
        Tooltip
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/unav-footer/">
        UNav Footer
      </a>

      
      
    </li>
  
    
    
    <li class="section-nav__item">
      <a class="section-nav__link" href="https://designsystem.ny.gov/components/unav-header/">
        UNav Header
      </a>

      
      
    </li>
  


  </ul>
</nav>
  </aside>
  <div class="nys-desktop:nys-grid-col-10">  
    <div class="nys-grid-container-widescreen">
  <header class="page-header">
    <h1 class="page-title" id="web-components">Web Components</h1>
    <div class="page-subtitle nys-grid-row nys-grid-gap">
      <p class="nys-tablet:nys-grid-col-8">The NYS Design System includes a library of web components that serve as building blocks to help developers create consistent digital products. Each component page includes examples, guidance, accessibility considerations, and options.</p>
    </div>
  </header>
<section class="nys-grid-row nys-grid-gap-lg"><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/accordion/" title="Accordion Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/accordion.svg" alt="An illustration of an accordion"></div>          
        <div class="card__title">Accordion</div>
        <div class="card__desc">Vertically stacked list of headers that reveal or hide associated content.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/alert/" title="Alert Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/alert.svg" alt="An illustration of an alert message."></div>          
        <div class="card__title">Alert</div>
        <div class="card__desc">An alert displays a prominent message, with optional links, at the top of the screen.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/avatar/" title="Avatar Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/avatar.svg" alt="An illustration of an avatar icon."></div>          
        <div class="card__title">Avatar</div>
        <div class="card__desc">Avatars visually represent a user or entity as initials, a photo, or an icon.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/backtotop/" title="Back To Top Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/backtotop.svg" alt="a circular button with the text back to top written on it."></div>          
        <div class="card__title">Back To Top</div>
        <div class="card__desc">Provides a button that lets users quickly scroll back to the top of the page.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/badge/" title="Badge Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/badge.svg" alt="An illustration of a badge."></div>          
        <div class="card__title">Badge</div>
        <div class="card__desc">Provides a visual indicator of categories.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/button/" title="Button Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/button.svg" alt="An illustration of a button."></div>          
        <div class="card__title">Button</div>
        <div class="card__desc">Used primarily for actions that have an immediate result like &quot;Save&quot;, &quot;Close&quot;, or &quot;Add&quot;.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/checkbox/" title="Checkbox Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/checkbox.svg" alt="An illustration of a checkbox."></div>          
        <div class="card__title">Checkbox</div>
        <div class="card__desc">A checkbox is a form input for users to select options (zero, one, or multiple) from a collection of choices.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/divider/" title="Divider Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/divider.svg" alt="An illustration of a divider."></div>          
        <div class="card__title">Divider</div>
        <div class="card__desc">Separates content and visually divides sections within layouts.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/fileinput/" title="File Input Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/fileinput.svg" alt="An illustration of a file input."></div>          
        <div class="card__title">File Input</div>
        <div class="card__desc">Used for selecting and uploading one or more files from the user’s device.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/globalfooter/" title="Global Footer Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/global-footer.svg" alt="An illustration of a global footer."></div>          
        <div class="card__title">Global Footer</div>
        <div class="card__desc">Provide users with essential information, secondary navigation, legal links, and contact details across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/globalheader/" title="Global Header Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/global-header.svg" alt="An illustration of a global header."></div>          
        <div class="card__title">Global Header</div>
        <div class="card__desc">Provide users with consistent access to key features, branding, and primary navigation across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/icon/" title="Icon Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/icon.svg" alt="An illustration of an icon."></div>          
        <div class="card__title">Icon</div>
        <div class="card__desc">Visual symbols are used to concisely convey information and increase visual appearance.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/modal/" title="Modal Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/modal.svg" alt="An illustration of a modal."></div>          
        <div class="card__title">Modal</div>
        <div class="card__desc">Displays content in a dialog that appears over the page and requires user interaction before returning to the main content.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/pagination/" title="Pagination Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/pagination.svg" alt="An illustration of a pagination."></div>          
        <div class="card__title">Pagination</div>
        <div class="card__desc">Enables users to navigate through large sets of content or data divided into smaller, more manageable pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/radiobutton/" title="Radio Button Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/radiobutton.svg" alt="An illustration of a radiobutton."></div>          
        <div class="card__title">Radio Button</div>
        <div class="card__desc">Form input for selecting one option from a group.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/select/" title="Select Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/select.svg" alt="An illustration of a select dropdown."></div>          
        <div class="card__title">Select</div>
        <div class="card__desc">Dropdown menu for selecting a single option.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/skipnav/" title="Skip Navigation Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/skipnav.svg" alt="An illustration of a skip navigation button."></div>          
        <div class="card__title">Skip Navigation</div>
        <div class="card__desc">An accessibility feature that lets keyboard and screen reader users skip navigation and jump to main content.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/stepper/" title="Stepper Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/stepper.svg" alt="An illustration of a stepper dropdown."></div>          
        <div class="card__title">Stepper</div>
        <div class="card__desc">Displays to users how many steps are in a process and indicates their progress.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/textarea/" title="Text Area Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/textarea.svg" alt="An illustration of a textarea field."></div>          
        <div class="card__title">Text Area</div>
        <div class="card__desc">Field for entering multiple lines of text.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/textinput/" title="Text Input Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/textinput.svg" alt="An illustration of a text input field."></div>          
        <div class="card__title">Text Input</div>
        <div class="card__desc">Field for entering short text strings, like email, number, password, and more.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/toggle/" title="Toggle Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/toggle.svg" alt="An illustration of a toggle switch."></div>          
        <div class="card__title">Toggle</div>
        <div class="card__desc">Switch component for enabling or disabling a setting.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/tooltip/" title="Tooltip Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/tooltip.svg" alt="An illustration of a tooltip."></div>          
        <div class="card__title">Tooltip</div>
        <div class="card__desc">Displays a brief message when hover/focus, offering additional information or context.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/unav-footer/" title="UNav Footer Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/unav-footer.svg" alt="An illustration of a unav footer."></div>          
        <div class="card__title">UNav Footer</div>
        <div class="card__desc">Provide users with access to essential NYS links across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-4 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/unav-header/" title="UNav Header Component">
      <div class="card__inner">
        <div class="card__media">          
            <img src="/assets/img/components/unav-header.svg" alt="An illustration of a unav header."></div>          
        <div class="card__title">UNav Header</div>
        <div class="card__desc">A small NYS-branded header at the top of every page to ensure users they are on a secure NYS site.</div>
      </div>
    </a>
  </div></section>
<!-- Section for linking people to GitHub discussion to suggest new components -->
<section class="nys-section">
  <h2 id="suggest-a-new-component">Suggest a New Component</h2>
  <div class="nys-grid-row nys-grid-gap">
    <div class="nys-tablet:nys-grid-col-8">
      <p>
        Do you have an idea for a new NYS Design System web component? Look through the existing proposals in our GitHub discussions board to see if someone already proposed something similar. If not, feel free to submit one.
      </p>
    </div>
    <div class="nys-tablet:nys-grid-col-12">
      <nys-button label="Review component proposals" href="https://github.com/ITS-HCD/nysds/discussions/categories/component-proposals"></nys-button>
    </div>
  </div>
</section>
  <div class="edit-page-link" data-pagefind-ignore="all">
    <p><a href="https://github.com/its-hcd/nysds-site/edit/main/src/content/pages/components/index.md">Edit this page on GitHub</a> (Permissions required)</p>
    <p>Last updated: December 1, 2025</p>
  </div>
</div>

  </div>
</div>
</div>


  </main>
  <nys-backtotop id="backtotop-demo"></nys-backtotop>
  
  <nys-globalfooter agencyName="NYS Design System">
  <ul data-pagefind-ignore="all">
    <li><span>Learn More</span>
      <ul>
        <li><a href="/get-started/" title="Get started using the NYS Design System.">Get Started</a></li>
        <li><a href="/foundations/" title="Learn about the foundations of the design system.">Foundations</a></li>
        <li><a href="/components/" title="Explore the web components.">Components</a></li>
        <li><a href="/foundations/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
      </ul>
    </li>
    <li><span>Resources</span>
      <ul>
        <li><a href="https://github.com/ITS-HCD/nysds" title="Visit the NYS Design System GitHub repository.">GitHub <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://github.com/ITS-HCD/nysds-fonts" title="Visit the NYS Design System Fonts GitHub repository.">Fonts GitHub <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://www.npmjs.com/org/nysds" title="Explore NYS Design System NPM packages.">NPM Packages <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://www.figma.com/design/U2QpuSUXRTxbgG64Fzi9bu/%F0%9F%92%A0-NYS-Design-System" title="Access the NYS Design System Figma library.">Figma Library <nys-icon name="open_in_new"></nys-icon></a></li>
      </ul>
    </li>
  </ul>
</nys-globalfooter>

  <nys-unavfooter></nys-unavfooter>

  <script type="module" src="https://designsystem.ny.gov/assets/js/vendor/nysds.js" async=""></script>
<script src="https://designsystem.ny.gov/assets/js/nysds-site.js"></script>

  
  </body>
</html>
