---
permalink: /components/checkbox/
tags: component
title: "Checkbox"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>Checkbox</h1>
<p>The <code class="language-js">nys-checkbox</code> component is a reusable web component for use in New York State digital products. It provides users with the ability to toggle a binary state (checked/unchecked).</p>
<p>Stable</p>
<p><a href="#">Get the UI kit</a></p>
<div class="component-demo">
    <nys-checkbox
    label="Join our Monthly Newsletter"
    description="Receive the latest news and updates in your inbox."
    name="subscribe"
    value="monthly-news"
    ></nys-checkbox>
</div>

<h2>Variants</h2>
<h3>Disabled</h3>
<div class="component-demo">
    <nys-checkbox
    disabled
    label="Register for Early Voting"
    description="This option is currently unavailable."
    name="earlyVoting"
    value="early-voting"
    ></nys-checkbox>
</div>


<h2>Use Cases</h2>
<h3>When to use this component</h3>
<ul>
    <li>When should you use this?</li>
    <li>What is its purpose</li>
</ul>
<h3>When to consider something else</h3>
<ul>
    <li>What guidance should we display for when to NOT use this component</li>
</ul>
<h2>Usage</h2>
<p>Primary usage guidelines for a component in a short and sweet paragraph</p>
<h3>Usage do's and don'ts</h3>
<div class="usagedos do">
<h4>Do</h4>
<ul>
    <li>Do this thing</li>
    <li>This other thing</li>
</ul>
</div>

<div class="usagedos dont">
<h4>Don't</h4>
<ul>
    <li>Do NOT do this thing</li> 
    <li>Or use it this way</li>
</ul>
</div>

<h2>Accessibility</h2>
<p>Short description of a11y features</p>
<table border="1">
  <thead>
    <tr>
      <th><strong>ARIA Role</strong></th>
      <th><strong>Attribute</strong></th>
      <th><strong>Use Case</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>`role="alert"`</td>
      <td>Important messages that demand the user's immediate attention.</td>
      <td>Example: Error and Emergency alert</td>
    </tr>
    <tr>
      <td>`role="status"`</td>
      <td>Messages that provide advisory information but do not have the same urgency as alerts.</td>
      <td>Example: Success alert</td>
    </tr>
    <tr>
      <td>`role="region"`</td>
      <td>Messages that provide information the user would want to be able to easily find, but are not important enough to interrupt user workflow.</td>
      <td>Information and Warning alert (An `aria-label`will be added for this role.)</td>
    </tr>
  </tbody>
</table>

<h2>CSS Properties</h2>
<table>
    <thead>
    <tr>
        <th>Variable</th>
        <th>CSS Property</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>`boxShadow`</td>
        <td>box-shadow</td>
        <td>box-shadow</td>
    </tr>
    <tr>
        <td>`textShadow`</td>
        <td>text-shadow</td>
        <td>text-shadow</td>
    </tr>
    </tbody>
</table>
<h2>Events</h2>
<p>The nys-toggle component emits three custom events:</p>
<ol>
<li>change – Fired when the toggle state changes (checked/unchecked).
<li>focus – Fired when the toggle gains focus.</li>
<li>blur – Fired when the toggle loses focus.</li>
<li>keydown – Fired when a key is pressed while the toggle is focused.</li>
</ol>
<p>You can listen to these events using JavaScript:</p>
 
{% highlight "js" %}

  // Select the toggle component
  const toggle = document.querySelector('nys-toggle');

  // Listen for the 'change' event
  toggle.addEventListener('change', (event) => {
    console.log('Checkbox changed:', event.target.checked);
  });

  // Listen for the 'focus' event
  toggle.addEventListener('focus', () => {
    console.log('Checkbox is focused');
  });

  // Listen for the 'blur' event
  toggle.addEventListener('blur', () => {
    console.log('Checkbox lost focus');
  });

  // Listen for the 'keydown' event
  toggle.addEventListener('keydown', (event) => {
    console.log('Key pressed:', event.key);
  });
{% endhighlight %}

<h2>Slots</h2>
<table>
    <thead>
    <tr>
        <th>Slot name</th>
        <th>Description</th>
        <th>Default value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>`boxShadow`</td>
        <td>box-shadow</td>
        <td>box-shadow</td>
    </tr>
    <tr>
        <td>`textShadow`</td>
        <td>text-shadow</td>
        <td>text-shadow</td>
    </tr>
    </tbody>
</table>

<h2>Parts</h2>
<table>
    <thead>
    <tr>
        <th>Part name</th>
        <th>Description</th>
        <th>Default value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>`boxShadow`</td>
        <td>box-shadow</td>
        <td>box-shadow</td>
    </tr>
    <tr>
        <td>`textShadow`</td>
        <td>text-shadow</td>
        <td>text-shadow</td>
    </tr>
    </tbody>
</table>

<h2>Changelog</h2>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}