---
permalink: /components/
title: "Excelsior, New York State's Design System"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>Components</h1>
<h2><a href="alert/">Alert</a></h2>

<h2><a href="button/">Button</a></h2>

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}