body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--primary-font), "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-bold);
}

/* .nygov-universal-container {
    height: 60px;
} */

nav a, nav a:visited {
    text-decoration: none;
    color: var(--nys-color-ink)
}

nav a:hover {
    text-decoration: underline;
}

/* Syntax highlighting plugin tweaks */

/* Remove the curly "peel" shadows from the bottom of code snippets */
pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none !important;
}
