---
permalink: /design-tokens/
title: "Excelsior, New York State's Design System"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>Design Tokens</h1>

<h2>Space</h2>

<p>Spacing tokens standardize margins, padding, and gaps in layouts. </p>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1px
			</td>
			<td>
				<strong>Space 1px</strong><br/>This is ultra-thin for fine detail, like borders or dividers.
			</td>
			<td>
				<code>--nys-space-1px</code>
			</td>
		</tr>
		<tr>
			<td>
				2px
			</td>
			<td>
				<strong>Space 2px</strong><br/>Very small spacing for micro-adjustments or compact layouts.
			</td>
			<td>
				<code>--nys-space-2px</code>
			</td>
		</tr>
		<tr>
			<td>
				4px
			</td>
			<td>
				<strong>Space 50</strong><br/>Extra-small spacing, typically used for tight content spacing.
			</td>
			<td>
				<code>--nys-space-50</code>
			</td>
		</tr>
		<tr>
			<td>
				8px
			</td>
			<td>
				<strong>Space 100</strong><br/>Small spacing, often used for compact layouts or minimal margins.
			</td>
			<td>
				<code>--nys-space-100</code>
			</td>
		</tr>
		<tr>
			<td>
				12px
			</td>
			<td>
				<strong>Space 150</strong><br/>Small-medium spacing for general UI elements.
			</td>
			<td>
				<code>--nys-space-150</code>
			</td>
		</tr>
		<tr>
			<td>
				16px
			</td>
			<td>
				<strong>Space 200</strong><br/>Medium spacing, commonly used for standard element separation.
			</td>
			<td>
				<code>--nys-space-200</code>
			</td>
		</tr>
		<tr>
			<td>
				20px
			</td>
			<td>
				<strong>Space 250</strong><br/>Medium-large spacing for container padding or visual balance.
			</td>
			<td>
				<code>--nys-space-250</code>
			</td>
		</tr>
		<tr>
			<td>
				24px
			</td>
			<td>
				<strong>Space 300</strong><br/>Standard spacing for layouts with moderate separation.
			</td>
			<td>
				<code>--nys-space-300</code>
			</td>
		</tr>
		<tr>
			<td>
				32px
			</td>
			<td>
				<strong>Space 400</strong><br/>Large spacing for separating sections or creating visual breaks.
			</td>
			<td>
				<code>--nys-space-400</code>
			</td>
		</tr>
		<tr>
			<td>
				40px
			</td>
			<td>
				<strong>Space 500</strong><br/>Extra-large spacing for major sections or wide gaps.
			</td>
			<td>
				<code>--nys-space-500</code>
			</td>
		</tr>
		<tr>
			<td>
				48px
			</td>
			<td>
				<strong>Space 600</strong><br/>Very large spacing, often used for section padding or layouts.
			</td>
			<td>
				<code>--nys-space-600</code>
			</td>
		</tr>
		<tr>
			<td>
				56px
			</td>
			<td>
				<strong>Space 700</strong><br/>Generous spacing for wide content separation.
			</td>
			<td>
				<code>--nys-space-700</code>
			</td>
		</tr>
		<tr>
			<td>
				64px
			</td>
			<td>
				<strong>Space 800</strong><br/>Maximum spacing for highly open designs or major layouts.
			</td>
			<td>
				<code>--nys-space-800</code>
			</td>
		</tr>
		<tr>
			<td>
				96px
			</td>
			<td>
				<strong>Space 1200</strong><br/>Largest spacing token for creating significant visual separation.
			</td>
			<td>
				<code>--nys-space-1200</code>
			</td>
		</tr>
	</tbody>
</table>

<h2>Size</h2>

<h3>Primitives</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1px
			</td>
			<td>
				<strong>Space 1px</strong><br/>Spacing tokens standardize margins, padding, and gaps in layouts. This is ultra-thin for fine detail, like borders or dividers.
			</td>
			<td>
				<code>--nys-size-1px</code>
			</td>
		</tr>
		<tr>
			<td>
				2px
			</td>
			<td>
				<strong>Space 2px</strong><br/>Very small spacing for micro-adjustments or compact layouts.
			</td>
			<td>
				<code>--nys-size-2px</code>
			</td>
		</tr>
		<tr>
			<td>
				4px
			</td>
			<td>
				<strong>Space 50</strong><br/>Extra-small spacing, typically used for tight content spacing.
			</td>
			<td>
				<code>--nys-size-50</code>
			</td>
		</tr>
		<tr>
			<td>
				8px
			</td>
			<td>
				<strong>Space 100</strong><br/>Small spacing, often used for compact layouts or minimal margins.
			</td>
			<td>
				<code>--nys-size-100</code>
			</td>
		</tr>
		<tr>
			<td>
				12px
			</td>
			<td>
				<strong>Space 150</strong><br/>Small-medium spacing for general UI elements.
			</td>
			<td>
				<code>--nys-size-150</code>
			</td>
		</tr>
		<tr>
			<td>
				16px
			</td>
			<td>
				<strong>Space 200</strong><br/>Medium spacing, commonly used for standard element separation.
			</td>
			<td>
				<code>--nys-size-200</code>
			</td>
		</tr>
		<tr>
			<td>
				20px
			</td>
			<td>
				<strong>Space 250</strong><br/>Medium-large spacing for container padding or visual balance.
			</td>
			<td>
				<code>--nys-size-250</code>
			</td>
		</tr>
		<tr>
			<td>
				24px
			</td>
			<td>
				<strong>Space 300</strong><br/>Standard spacing for layouts with moderate separation.
			</td>
			<td>
				<code>--nys-size-300</code>
			</td>
		</tr>
		<tr>
			<td>
				32px
			</td>
			<td>
				<strong>Space 400</strong><br/>Large spacing for separating sections or creating visual breaks.
			</td>
			<td>
				<code>--nys-size-400</code>
			</td>
		</tr>
		<tr>
			<td>
				36px
			</td>
			<td>
				<strong>Space 450</strong>
			</td>
			<td>
				<code>--nys-size-450</code>
			</td>
		</tr>
		<tr>
			<td>
				40px
			</td>
			<td>
				<strong>Space 500</strong><br/>Extra-large spacing for major sections or wide gaps.
			</td>
			<td>
				<code>--nys-size-500</code>
			</td>
		</tr>
		<tr>
			<td>
				44px
			</td>
			<td>
				<strong>Space 550</strong>
			</td>
			<td>
				<code>--nys-size-550</code>
			</td>
		</tr>
		<tr>
			<td>
				48px
			</td>
			<td>
				<strong>Space 600</strong><br/>Very large spacing, often used for section padding or layouts.
			</td>
			<td>
				<code>--nys-size-600</code>
			</td>
		</tr>
		<tr>
			<td>
				56px
			</td>
			<td>
				<strong>Space 700</strong><br/>Generous spacing for wide content separation.
			</td>
			<td>
				<code>--nys-size-700</code>
			</td>
		</tr>
		<tr>
			<td>
				64px
			</td>
			<td>
				<strong>Space 800</strong><br/>Maximum spacing for highly open designs or major layouts.
			</td>
			<td>
				<code>--nys-size-800</code>
			</td>
		</tr>
		<tr>
			<td>
				96px
			</td>
			<td>
				<strong>Space 1200</strong><br/>Largest spacing token for creating significant visual separation.
			</td>
			<td>
				<code>--nys-size-1200</code>
			</td>
		</tr>
	</tbody>
</table>

<h3>Border Width</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1px
			</td>
			<td>
				<strong>Border Width Small</strong>
			</td>
			<td>
				<code>--nys-border-width-sm</code>
			</td>
		</tr>
		<tr>
			<td>
				2px
			</td>
			<td>
				<strong> Border Width Medium</strong>
			</td>
			<td>
				<code>--nys-border-width-md</code>
			</td>
		</tr>
		<tr>
			<td>
				4px
			</td>
			<td>
				<strong> Border Width Large</strong>
			</td>
			<td>
				<code>--nys-border-width-lg</code>
			</td>
		</tr>
	</tbody>
</table>

<h2>Radius</h2>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1px
			</td>
			<td>
				<strong>Radius Extra Small</strong><br/>Creates a sharp, slightly rounded corner.
			</td>
			<td>
				<code>--nys-radius-xs</code>
			</td>
		</tr>
		<tr>
			<td>
				2px
			</td>
			<td>
				<strong>Radius Small</strong><br/>Soft rounding. Used in Checkbox Small.
			</td>
			<td>
				<code>--nys-radius-sm</code>
			</td>
		</tr>
		<tr>
			<td>
				4px
			</td>
			<td>
				<strong>Radius Medium</strong><br/>Default radius. Used for Alert, large Checkbox, and input fields like Text Input, Select, and Text Area.
			</td>
			<td>
				<code>--nys-radius-md</code>
			</td>
		</tr>
		<tr>
			<td>
				8px
			</td>
			<td>
				<strong>Radius Large</strong><br/>Larger radius for a more pronounced rounding.
			</td>
			<td>
				<code>--nys-radius-lg</code>
			</td>
		</tr>
		<tr>
			<td>
				12px
			</td>
			<td>
				<strong>Radius Extra Large</strong><br/>Strong radius. Used for buttons, to quickly indicate interactivity.
			</td>
			<td>
				<code>--nys-radius-xl</code>
			</td>
		</tr>
		<tr>
			<td>
				16px
			</td>
			<td>
				<strong>Radius Extra Extra Large</strong><br/>Very strong rounding. Use sparingly. Used for focus ring of Button.
			</td>
			<td>
				<code>--nys-radius-xxl</code>
			</td>
		</tr>
		<tr>
			<td>
				1776
			</td>
			<td>
				<strong>Radius Round</strong><br/>Creates an oval or circle shape. Used for avatars.
			</td>
			<td>
				<code>--nys-radius-round</code>
			</td>
		</tr>
	</tbody>
</table>

<h2>Color</h2>

<p><strong>Overridden by agency-specific themes.</strong></p>

<p>All of the below colors automatically adapt to the agency when set. In the future additional modes may be supported for each agency such as a dark mode, high contrast mode, or colorblind optimized mode. By making use of Excelsior color variables it will enable quick adoption of future accessibility modes.</p>

<p>Change the Agency theme above to see how these colors adapt to each agency.</p>

<p>Do not use the hex value of a color token, use the CSS Variable / Token.</p>

<h3>Theme</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				#154973 (ink-reverse)
			</td>
			<td>
				<strong>Color Theme</strong><br/>Primary brand color. Used for primary actions and interactive elements like buttons, checkboxes, and agency-specific headers and footers.
			</td>
			<td>
				<code>--nys-color-theme</code>
			</td>
		</tr>
		<tr>
			<td>
				#0E324F (ink-reverse)
			</td>
			<td>
				<strong>Color Theme Strong</strong><br/>Stronger shade of theme color, used for hover state on interactive elements.
			</td>
			<td>
				<code>--nys-color-strong</code>
			</td>
		</tr>
		<tr>
			<td>
				#081B2B (ink-reverse)
			</td>
			<td>
				<strong>Color Theme Stronger</strong><br/>Strongest shade of theme color, used for pressed state on interactive elements.
			</td>
			<td>
				<code>--nys-color-stronger</code>
			</td>
		</tr>
		<tr>
			<td>
				#457AA5 (ink-reverse)
			</td>
			<td>
				<strong>Color Theme Mid</strong> <br/>Mid-range shade of theme color. Use sparingly, since text contrast against this color is problematic.
			</td>
			<td>
				<code>--nys-color-mid</code>
			</td>
		</tr>
		<tr>
			<td>
				#CDDDE9 (ink)
			</td>
			<td>
				<strong>Color Theme Weak</strong><br/>Slightly lighter shade of theme color.
			</td>
			<td>
				<code>--nys-color-weak</code>
			</td>
		</tr>
		<tr>
			<td>
				#EFF6FB (ink)
			</td>
			<td>
				<strong>Color Theme Weaker</strong><br/>Lighter shade of theme color, used to subtly convey brand in places with a lot of text, like the global agency footer.
			</td>
			<td>
				<code>--nys-color-weaker</code>
			</td>
		</tr>
		<tr>
			<td>
				#F7FAFD (ink)
			</td>
			<td>
				<strong>Color Theme Faint</strong><br/>Faint shade of the theme color. Good for subtle accents or backgrounds.
			</td>
			<td>
				<code>--nys-color-faint</code>
			</td>
		</tr>
		<tr>
			<td>
				#FACE00 (ink-reverse)
			</td>
			<td>
				<strong>Color Theme Accent</strong><br/>Bold accent color for highlighting or emphasis. Use sparingly, especially in application contexts where it can be confused with warning or error colors.
			</td>
			<td>
				<code>--nys-color-accent</code>
			</td>
		</tr>
	</tbody>
</table>

<h3>Intent</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				#004DD1 (ink-reverse)
			</td>
			<td>
				<strong> Color Info</strong><br/>Informational color for neutral messages.
			</td>
			<td>
				<code>--nys-color-info</code>
			</td>
		</tr>
		<tr>
			<td>
				#E5EFFA (ink)
			</td>
			<td>
				<strong> Color Info Weak</strong><br/>Used as a background for informational contexts with a lot of text, like alerts.
			</td>
			<td>
				<code>--nys-color-info-weak</code>
			</td>
		</tr>
		<tr>
			<td>
				#1E752E (ink-reverse)
			</td>
			<td>
				<p><strong>Color Success</strong></p>

				<p>Used to communicate successful actions or states.</p>
			</td>
			<td>
				<code>--nys-color-success</code>
			</td>
		</tr>
		<tr>
			<td>
				#E8F1EA (ink)
			</td>
			<td>
				<p><strong>Color Success Weak</strong></p>

				<p>Used as a background for success contexts with a lot of text, like alerts.</p>
			</td>
			<td>
				<code>--nys-color-success-weak</code>
			</td>
		</tr>
		<tr>
			<td>
				#FACE00 (ink-reverse)
			</td>
			<td>
				<p><strong>Color Warning</strong></p>

				<p>Used as a warning color for non-critical alerts.</p>
			</td>
			<td>
				<code>--nys-color-warning</code>
			</td>
		</tr>
		<tr>
			<td>
				#FEFAE5 (ink)
			</td>
			<td>
				<p><strong>Color Warning Weak</strong></p>

				<p>Used as a background for warning contexts with a lot of text, like alerts.</p>
			</td>
			<td>
				<code>--nys-color-warning-weak</code>
			</td>
		</tr>
		<tr>
			<td>
				#B52C2C (ink-reverse)
			</td>
			<td>
				<p><strong>Color Danger</strong></p>

				<p>Used to indicate destructive actions or failures.</p>
			</td>
			<td>
				<code>--nys-color-danger</code>
			</td>
		</tr>
		<tr>
			<td>
				#F7EAEA (ink)
			</td>
			<td>
				<p><strong>Color Danger Weak</strong></p>

				<p>Used as a background in destructive or error contexts with a lot of text, like alerts.</p>
			</td>
			<td>
				<code>--nys-color-danger-weak</code>
			</td>
		</tr>
		<tr>
			<td>
				#721C1C (ink-reverse)
			</td>
			<td>
				<p><strong>Color Emergency</strong></p>

				<p>Emergency color for critical alerts or actions. Use sparingly.</p>
			</td>
			<td>
				<code>--nys-color-emergency</code>
			</td>
		</tr>
		<tr>
			<td>
				#62666A (ink-reverse)
			</td>
			<td>
				<p><strong>Color Base</strong></p>

				<p>Used for the border of neutral alerts.</p>
			</td>
			<td>
				<code>--nys-color-base</code>
			</td>
		</tr>
		<tr>
			<td>
				#F6F6F6 (ink)
			</td>
			<td>
				<p><strong>Color Base Weak</strong></p>

				<p>Used for the background of neutral alerts.</p>
			</td>
			<td>
				<code>--nys-color-base-weak</code>
			</td>
		</tr>
	</tbody>
</table>

<h3>Neutrals</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				#1B1B1B (ink-reverse)
			</td>
			<td>
				<strong>Color Ink</strong><br/>Default text color. Used as main text color throughout UI. Provides accessible contrast for content.
			</td>
			<td>
				<code>--nys-color-ink</code>
			</td>
		</tr>
		<tr>
			<td>
				#FFFFFF (ink)
			</td>
			<td>
				<p><strong>Color Ink Reverse</strong></p>

				<p>Reverse text color for dark backgrounds.</p>
			</td>
			<td>
				<code>--nys-color-ink-reverse</code>
			</td>
		</tr>
		<tr>
			<td>
				#1B1B1B (ink-reverse)
			</td>
			<td>
				<p><strong>Color Neutral 900</strong></p>

				<p>Darkest neutral shade for text or backgrounds.</p>
			</td>
			<td>
				<code>--nys-color-neutral-900</code>
			</td>
		</tr>
		<tr>
			<td>
				#323435 (ink-reverse)
			</td>
			<td>
				<p><strong>Color Neutral 800</strong></p>

				<p>Very dark neutral shade for subdued elements.</p>
			</td>
			<td>
				<code>--nys-color-neutral-800</code>
			</td>
		</tr>
		<tr>
			<td>
				#4A4D4F (ink-reverse)
			</td>
			<td>
				<p><strong>Color Neutral 700</strong></p>

				<p>Dark neutral tone for text or muted accents.</p>
			</td>
			<td>
				<code>``nys-color-neutral-700</code>
			</td>
		</tr>
		<tr>
			<td>
				#62666A (ink-reverse)
			</td>
			<td>
				<p><strong>Color Neutral 600</strong></p>

				<p>Medium-dark neutral tone for UI elements.</p>
			</td>
			<td>
				<code>--nys-color-neutral-600</code>
			</td>
		</tr>
		<tr>
			<td>
				#797C7F
			</td>
			<td>
				<p><strong>Color Neutral 500</strong></p>

				<p>Medium neutral tone for balanced emphasis.</p>
			</td>
			<td>
				<code>--nys-color-neutral-500</code>
			</td>
		</tr>
		<tr>
			<td>
				#909395
			</td>
			<td>
				<p><strong>Color Neutral 400</strong></p>

				<p>Light-medium neutral tone for soft elements.</p>
			</td>
			<td>
				<code>--nys-color-neutral-400</code>
			</td>
		</tr>
		<tr>
			<td>
				#A7A9AB
			</td>
			<td>
				<p><strong>Color Neutral 300</strong></p>

				<p>Light neutral tone for subtle backgrounds.</p>
			</td>
			<td>
				<code>--nys-color-neutral-300</code>
			</td>
		</tr>
		<tr>
			<td>
				#BEC0C1
			</td>
			<td>
				<p><strong>Color Neutral 200</strong></p>

				<p>Very light neutral tone for minimal elements.</p>
			</td>
			<td>
				<code>--nys-color-neutral-200</code>
			</td>
		</tr>
		<tr>
			<td>
				#D0D0CE
			</td>
			<td>
				<p><strong>Color Neutral 100</strong></p>

				<p>Near-white neutral for soft backgrounds.</p>
			</td>
			<td>
				<code>--nys-color-neutral-100</code>
			</td>
		</tr>
		<tr>
			<td>
				#EDEDED
			</td>
			<td>
				<p><strong>Color Neutral 50</strong></p>

				<p>Faint neutral shade for background contrast.</p>
			</td>
			<td>
				<code>--nys-color-neutral-50</code>
			</td>
		</tr>
		<tr>
			<td>
				#F6F6F6
			</td>
			<td>
				<p><strong>Color Neutral 10</strong></p>

				<p>Subtle neutral shade for faint accents.</p>
			</td>
			<td>
				<code>--nys-color-neutral-10</code>
			</td>
		</tr>
	</tbody>
</table>

<h3>Semantic</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				#004DD1
			</td>
			<td>
				<p><strong>Color Link</strong></p>

				<p>Default color for text links.</p>
			</td>
			<td>
				<code>--nys-color-link</code>
			</td>
		</tr>
		<tr>
			<td>
				#003BA1
			</td>
			<td>
				<p><strong>Color Link Strong</strong></p>

				<p>Used for hover and active states on text links.</p>
			</td>
			<td>
				<code>--nys-color-link-strong</code>
			</td>
		</tr>
		<tr>
			<td>
				#002971
			</td>
			<td>
				<p><strong>Color Link Strongest</strong></p>

				<p>Used for pressed states on text links.</p>
			</td>
			<td>
				<code>--nys-color-link-strongest</code>
			</td>
		</tr>
		<tr>
			<td>
				#004DD1
			</td>
			<td>
				<p><strong>Color Focus</strong></p>

				<p>Used to color focus rings on interactive elements.</p>
			</td>
			<td>
				<code>--nys-color-focus</code>
			</td>
		</tr>
	</tbody>
</table>

<h2>Typography</h2>

<h3>Family</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Family, Sans</strong></p>

				<p>Primary brand font, used for content, headers, and UI text. → Proxima Nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol</p>
			</td>
			<td>
				<code>--nys-font-family-sans</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Family, Agency</strong></p>

				<p>Brand font used only for agency, program, and initiative titles. → D Sari, Arial, sans-serif</p>
			</td>
			<td>
				<code>--nys-font-family-agency</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Family, Alternate</strong></p>

				<p>Alternate brand font, used sparingly for accent in public-facing sites. → Oswald, Arial, sans-serif</p>
			</td>
			<td>
				<code>--nys-font-family-alt</code>
			</td>
		</tr>
	</tbody>
</table>

<h3>Size</h3>

<table>
	<thead>
		<tr>
			<th>
				Example
			</th>
			<th>
				Description
			</th>
			<th>
				Token
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 2XS</strong></p>

				<p>Extra-extra-small font size. Typically used for fine print or disclaimers</p>
			</td>
			<td>
				<code>--nys-font-size-2xs</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, XS</strong></p>

				<p>Extra-small font size. Used for less prominent labels or captions. → 12px</p>
			</td>
			<td>
				<code>--nys-font-size-xs</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, SM</strong></p>

				<p>Small font size. Commonly used for secondary text or labels. → 14px</p>
			</td>
			<td>
				<code>--nys-font-size-sm</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, MD</strong></p>

				<p>Medium font size. Default body text size. → 16px</p>
			</td>
			<td>
				<code>--nys-font-size-md</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, LG</strong></p>

				<p>Large font size. Used for subheadings or larger labels. → 18px</p>
			</td>
			<td>
				<code>--nys-font-size-lg</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, XL</strong></p>

				<p>Extra-large font size. Used for headings or standout elements. → 20px</p>
			</td>
			<td>
				<code>--nys-font-size-xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 2XL</strong></p>

				<p>Double extra-large font size. Commonly used for secondary headings. → 22px</p>
			</td>
			<td>
				<code>--nys-font-size-2xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 3XL</strong></p>

				<p>Triple extra-large font size. Used for primary headings or key text. → 24px</p>
			</td>
			<td>
				<code>--nys-font-size-3xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 4XL</strong></p>

				<p>Quadruple extra-large font size. Typically used for prominent headlines. → 28px</p>
			</td>
			<td>
				<code>--nys-font-size-4xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 5XL</strong></p>

				<p>Quintuple extra-large font size. Reserved for key marketing or hero sections. → 32px</p>
			</td>
			<td>
				<code>--nys-font-size-5xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 6XL</strong></p>

				<p>Six times extra-large font size. Used for impactful hero text. → 36px</p>
			</td>
			<td>
				<code>--nys-font-size-6xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 7XL</strong></p>

				<p>Seven times extra-large font size. Highly prominent text. → 40px</p>
			</td>
			<td>
				<code>--nys-font-size-7xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 8XL</strong></p>

				<p>Eight times extra-large font size. Typically for titles or splash content. → 44px</p>
			</td>
			<td>
				<code>--nys-font-size-8xl</code>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<p><strong>Font Size, 9XL</strong></p>

				<p>Nine times extra-large font size. Maximum size for hero content. → 50px</p>
			</td>
			<td>
				<code>--nys-font-size-9xl</code>
			</td>
		</tr>
	</tbody>
</table>




{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}