---
permalink: /videos/
title: Videos
description: Videos that explain.
section: Videos
navOrder: 1
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="nys-grid-container-widescreen">
<h1>Videos</h1>

  <div class="nys-tablet:nys-grid-col-8">
    <div class="content-intro">
      <div class="content-intro__inner">  
        <p>Be sure to check out our <a href="/learn/">Welcome to the NYS Design System video series</a> for more in-depth explanations.</p>
      </div>
    </div>
  </div>
  <div class="nys-tablet:nys-grid-col-4">
  </div>


</div>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}