---
permalink: /components/icon/accessibility-tests/
title: Accessibility Checklist
description: How to test the accessibility of an icon.
image: /assets/img/components/icon.svg
image_alt: An illustration of an icon
image_header: /assets/img/components/icon-header.svg
stable: true
parent: Icon
navOrder: 1
draft: true # checklist data is still the unfilled scaffold; remove to publish
eleventyExcludeFromCollections: true
---

<!-- Fill in icon.11tydata.json5, then remove `draft: true` to publish this page -->
{% extends "layouts/component-a11y-tests.njk" %}

{#
  In icon.11tydata.json5:
  Comment top-level members to determine which njk blocks will render.

  Members that may be commented are exactly these:
  disabilities
  keyboard
  mouse
  screenReader
  screenReaderMobile
  tests
  voice
  zoom
#}
