<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alert - Excelsior Design System</title>
    <meta name="description" content="Alert cards are designed to display critical information, updates, or warnings that require the user&#39;s attention.">   
    <link rel="canonical" href="https://its-hcd.github.io/excelsior-site//content/components/alert/">

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Alert">
    <meta property="og:site_name" content="Excelsior Design System">
    <meta property="og:url" content="https://its-hcd.github.io/excelsior-site//content/components/alert/">
    <meta property="og:description" content="Alert cards are designed to display critical information, updates, or warnings that require the user&#39;s attention.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    
    <link rel="preload" href="https://its-hcd.github.io/excelsior-site//assets/fonts/proximanova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/fonts/excelsior-fonts.css">    
    <link href="https://its-hcd.github.io/excelsior-site//pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-coy.css"rel="stylesheet">
    <link rel="stylesheet" href="https://its-hcd.github.io/excelsior-site//assets/css/vendor/excelsior-full.min.css">    
    <link rel="stylesheet" href="https://its-hcd.github.io/excelsior-site//assets/css/excelsior-site.css">    


    
    <meta name=”robots” content=”noindex”>
    
    
    <!-- Latest Build: 2025-01-23T18:33:14.974+00:00 -->
  </head>
  <body class="home">
  <div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2024-08-26 12:00">
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      hideSearch: true,
      showLanguageHeader: false,
      showLanguageFooter: false,
    };
    (function (document, bundle, head) {
        head = document.getElementsByTagName('head')[0];
        bundle = document.createElement('script');
        bundle.type = 'text/javascript';
        bundle.async = true;
        bundle.src = "https://static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
        head.appendChild(bundle);
    }(document));
  </script>
</div>
  <div class="nys-grid-container content">
  <nav class="nys-grid-row">
    <div class="nys-grid-col-auto">
        <a href="https://its-hcd.github.io/excelsior-site/" title="Home"><img src="/excelsior-site/assets/img/logo-excelsior.svg"></a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/getting-started" title="Getting Started" class=" nys-display-flex nys-flex-justify-center">Getting Started</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/foundations" title="Foundations" class=" nys-display-flex nys-flex-justify-center">Foundations</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center nys-flex-justify-center">
        <a href="/excelsior-site/components" title="Components" class=" nys-display-flex nys-flex-justify-center">Components</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="/excelsior-site/about" title="About" class=" nys-display-flex nys-flex-justify-center">About</a>
    </div>
</nav>



  <main role="main" data-pagefind-body>
    
    <div class="nys-grid-container">
  <div class="nys-grid-row">
    <div class="nys-tablet:nys-grid-col-9">
<p><div class="ex-component-description">
<p>Alerts are used to communicate important information to users. They can be used to inform users of a successful action, a warning, or an error. Alerts can be dismissible, meaning users can close them.</p><br>
</div></p>
<p><nys-alert theme="info" heading="This is an info alert" text="I was generated by 11ty as a web component" dismissible></nys-alert>
<nys-alert theme="warning" heading="This is a warning alert" text="Generate warning alerts to warn your users of something" dismissible></nys-alert></p>
<p><h2 name="#usage-guidelines">Usage Guidelines</h2></p>
<p><p>We don't read and write poetry because it's cute. We read and write poetry because we are members of the human race. And the human race is filled with passion. And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love, these are what we stay alive for. To quote from Whitman, &quot;O me! O life!... of the questions of these recurring; of the endless trains of the faithless... of cities filled with the foolish; what good amid these, O me, O life?&quot; Answer. That you are here - that life exists, and identity; that the powerful play goes on and you may contribute a verse. That the powerful play <em>goes on</em> and you may contribute a verse. What will your verse be?
</p></p>
<p><h2>Accessibility Guidelines</h2></p>
<p><p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.  During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the Death Star, an armored space station with enough power to destroy an entire planet. Pursued by the Empire's sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy...
</p></p>
<p></div>
<div class="nys-tablet:nys-grid-col-1"></div>
<div class="nys-tablet:nys-grid-col-2">
<h3>On This Page</h3>
<ul>
<li><a href="#usage-guidelines">Usage Guidelines</a></li>
<li><a href="#accessibility-guidelines">Accessibility Guidelines</a></li>
<li><a href="#changelog">Changelog</a></li>
</ul>
</div></p>
  </div>
</div>

    
  </main>

  
<ul>
  <li><a href="/excelsior-site/privacy/" title="Review our privacy policy.">Privacy</a></li>
  <li><a href="/excelsior-site/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
  <li><a href="/excelsior-site/about/#contact" title="Contact the Excelsior team.">Contact</a></li>
</ul>


</div>
    <div id="nygov-universal-footer" class="nygov-universal-container"></div>


  <script src="https://its-hcd.github.io/excelsior-site//assets/js/vendor/excelsior.js"></script>
  
  </body>
</html>
