---
permalink: /patterns/
title: "Excelsior, New York State's Design System"
description: "Excelsior makes it easier to build accessible, usable websites for New York State."
---

{% extends "layouts/base.njk" %}

{% block content %}

<h1>Patterns</h1>

<h2>Writing Standards</h2>


<h2> Accessibility Fundamentals</h2>


{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}