<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Icon - Excelsior Design System</title>
    <meta name="description" content="Visual symbols used to convey meaning or action.">   
    <link rel="canonical" href="https://its-hcd.github.io/excelsior-site//components/icon/">

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Icon">
    <meta property="og:site_name" content="Excelsior Design System">
    <meta property="og:url" content="https://its-hcd.github.io/excelsior-site//components/icon/">
    <meta property="og:description" content="Visual symbols used to convey meaning or action.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    
    <link rel="preload" href="https://its-hcd.github.io/excelsior-site//assets/fonts/proximanova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="https://its-hcd.github.io/excelsior-site//assets/fonts/excelsior-fonts.css" rel="stylesheet">    
    <link href="https://its-hcd.github.io/excelsior-site//pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-coy.css"rel="stylesheet">
    <link href="https://its-hcd.github.io/excelsior-site//assets/css/vendor/excelsior-full.min.css" rel="stylesheet">    
    <link href="https://its-hcd.github.io/excelsior-site//assets/css/excelsior-site.css" rel="stylesheet">    


    
    <meta name="robots" content="noindex">
    
    
    <!-- Latest Build: 2025-02-03T15:12:55.240+00:00 -->
  </head>
  <body class="single-page page-icon">

  <div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2024-08-26 12:00">
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      hideSearch: true,
      showLanguageHeader: false,
      showLanguageFooter: false,
    };
    (function (document, bundle, head) {
        head = document.getElementsByTagName('head')[0];
        bundle = document.createElement('script');
        bundle.type = 'text/javascript';
        bundle.async = true;
        bundle.src = "https://static-assets.ny.gov/sites/all/widgets/universal-navigation/js/dist/global-nav-bundle.js";
        head.appendChild(bundle);
    }(document));
  </script>
</div>
  
<div class="site-header">
    <div class="site-header__inner nys-grid-container">
        <div class="site-header__logo">
            <a href="https://its-hcd.github.io/excelsior-site/" title="Home"><img src="/excelsior-site/assets/img/logo-excelsior.svg" title="Excelsior Logo"></a>
        </div>
        <nav class="site-header__nav">
            <ul class="site-header__list">
                <li class="site-header__item"><a href="/excelsior-site/getting-started" class="site-header__link" title="Getting Started">Getting Started</a></li>
                <li class="site-header__item"><a href="/excelsior-site/foundations" class="site-header__link" title="Foundations">Foundations</a></li>
                <li class="site-header__item site-header__item--active"><a href="/excelsior-site/components" class="site-header__link" title="Components">Components</a></li>
                <li class="site-header__item"><a href="/excelsior-site/about" class="site-header__link" title="About">About</a></li>
            </ul>
        </nav>

    </div>
</div>



<div class="section-header">
    <div class="section-header__inner nys-grid-container">
        <div class="section-header__title">
            Components
        </div>
        <div class="section-header__media">
            
                <img src="https://its-hcd.github.io/excelsior-site//assets/img/sections/section-components.svg" alt="Components section header">
            
        </div>
    </div>
</div>




  <main role="main" data-pagefind-body>
    <div class="nys-grid-container">
      
      <div class="nys-grid-row nys-grid-gap-lg">
  <div class="nys-desktop:nys-grid-col-3">
    <div class="navigator">
      <div class="navigator__inner">
        <div id="navigator-title" class="navigator__title">On this page</div>
        <nav class="navigator__nav" aria-labelledby="navigator-title">
          <ul class="navigator__list">
            <li class="navigator__item navigator__item--overview navigator__item--active">
              <a class="navigator__link" href="#overview">Overview</a>
            </li>
            <li class="navigator__item navigator__item--example">
              <a class="navigator__link" href="#example">Example</a>
            </li>
            <li class="navigator__item navigator__item--examplecode">
              <a class="navigator__link" href="#examplecode">Example Code</a>
            </li>
            <li class="navigator__item navigator__item--usage">
              <a class="navigator__link" href="#usage">Usage</a>
            </li>
            <li class="navigator__item navigator__item--accessibility">
              <a class="navigator__link" href="#accessibility">Accessibility</a>
            </li>
            <li class="navigator__item navigator__item--options">
              <a class="navigator__link" href="#options">Options</a>
            </li>
            <li class="navigator__item navigator__item--properties">
              <a class="navigator__link" href="#properties">Properties</a>
            </li>
            <li class="navigator__item navigator__item--cssvariables">
              <a class="navigator__link" href="#cssvariables">CSS Variables</a>
            </li>
            <li class="navigator__item navigator__item--events">
              <a class="navigator__link" href="#events">Events</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="nys-desktop:nys-grid-col-9">
    <section id="overview">
      <h1>Icon</h1>
<p>The <code class="language-js">&lt;nys-icon&gt;</code> component is a reusable web component for use in New York State digital products. It provides users with the ability to choose a specific svg icon to use.</p>
</section>
    <section id="example">
<p><nys-icon name="check_circle" size="4xl" color="var(--nys-color-success)"></nys-icon></p>
</section>
    <section id="examplecode">
      <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nys-icon</span>
  <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>check_circle<span class="token punctuation">"</span></span>
  <span class="token attr-name">size</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>4xl<span class="token punctuation">"</span></span>
  <span class="token attr-name">color</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>var(--nys-color-success)<span class="token punctuation">"</span></span>
<span class="token punctuation">></span></span></code></pre>
    </section>
    <section id="usage">
      <h2>Usage</h2>
<h3>General</h3>
<div class="nys-grid-row nys-grid-gap-2">
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="account_circle"></nys-icon></div><div class="card__desc"> account_circle</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="calendar_month"></nys-icon></div><div class="card__desc"> calendar_month</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="cancel"></nys-icon></div><div class="card__desc"> cancel</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="check"></nys-icon></div><div class="card__desc"> check</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="close"></nys-icon></div><div class="card__desc"> close</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="download"></nys-icon></div><div class="card__desc"> download</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="download_done"></nys-icon></div><div class="card__desc"> download_done</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="drive_folder_upload"></nys-icon></div><div class="card__desc"> drive_folder_upload</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="edit_square"></nys-icon></div><div class="card__desc"> edit_square</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="help"></nys-icon></div><div class="card__desc"> help</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="language"></nys-icon></div><div class="card__desc"> language</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="menu"></nys-icon></div><div class="card__desc"> menu</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="more_vert"></nys-icon></div><div class="card__desc"> more_vert</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="open_in_new"></nys-icon></div><div class="card__desc"> open_in_new</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="publish"></nys-icon></div><div class="card__desc"> publish</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="search"></nys-icon></div><div class="card__desc"> search</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="share"></nys-icon></div><div class="card__desc"> share</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="sms"></nys-icon></div><div class="card__desc"> sms</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="thumb_down"></nys-icon></div><div class="card__desc"> thumb_down</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="thumb_up"></nys-icon></div><div class="card__desc"> thumb_up</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="upload_file"></nys-icon></div><div class="card__desc"> upload_file</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="visibility"></nys-icon></div><div class="card__desc"> visibility</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="visibility_off"></nys-icon></div><div class="card__desc"> visibility_off</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="notifications"></nys-icon></div><div class="card__desc"> notifications</div></div></div>
</div>
<h3>Social</h3>
<div class="nys-grid-row nys-grid-gap-2">
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_facebook"></nys-icon></div><div class="card__desc"> social_facebook</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_flickr"></nys-icon></div><div class="card__desc"> social_flickr</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_google_play"></nys-icon></div><div class="card__desc"> social_google_play</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_instagram"></nys-icon></div><div class="card__desc"> social_instagram</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_linkedin"></nys-icon></div><div class="card__desc"> social_linkedin</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_pinterest"></nys-icon></div><div class="card__desc"> social_pinterest</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_rss"></nys-icon></div><div class="card__desc"> social_rss</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_snapchat"></nys-icon></div><div class="card__desc"> social_snapchat</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_soundcloud"></nys-icon></div><div class="card__desc"> social_soundcloud</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_tiktok"></nys-icon></div><div class="card__desc"> social_tiktok</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_tumblr"></nys-icon></div><div class="card__desc"> social_tumblr</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_vimeo"></nys-icon></div><div class="card__desc"> social_vimeo</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_x"></nys-icon></div><div class="card__desc"> social_x</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="social_youtube"></nys-icon></div><div class="card__desc"> social_youtube</div></div></div>
</div>
<h3>Arrows</h3>
<div class="nys-grid-row nys-grid-gap-2">
  <div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="arrow_back"></nys-icon></div><div class="card__desc"> arrow_back</div></div></div>
</div>
<h3>Chevrons</h3>
<div class="nys-grid-row nys-grid-gap-2">
  <div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="chevron_down"></nys-icon></div><div class="card__desc"> chevron_down</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="chevron_up"></nys-icon></div><div class="card__desc"> chevron_up</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="chevron_left"></nys-icon></div><div class="card__desc"> chevron_left</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="chevron_right"></nys-icon></div><div class="card__desc"> chevron_right</div></div></div>
</div>
<h3>Environmental</h3>
<div class="nys-grid-row nys-grid-gap-2">
  <div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="ac_unit"></nys-icon></div><div class="card__desc"> ac_unit</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="air"></nys-icon></div><div class="card__desc"> air</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="clear_day"></nys-icon></div><div class="card__desc"> clear_day</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="coronavirus"></nys-icon></div><div class="card__desc"> coronavirus</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="rainy"></nys-icon></div><div class="card__desc"> rainy</div></div></div>
</div>
<h3>Intent</h3>
<div class="nys-grid-row nys-grid-gap-2">
  <div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="check_circle"></nys-icon></div><div class="card__desc"> check_circle</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="emergency_home"></nys-icon></div><div class="card__desc"> emergency_home</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="error"></nys-icon></div><div class="card__desc"> error</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="info"></nys-icon></div><div class="card__desc"> info</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="warning"></nys-icon></div><div class="card__desc"> warning</div></div></div>
</div>
<h3>Filled</h3>
<div class="nys-grid-row nys-grid-gap-2">
  <div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="account_balance_filled"></nys-icon></div><div class="card__desc"> account_balance_filled</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="cancel_filled"></nys-icon></div><div class="card__desc"> cancel_filled</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="language_filled"></nys-icon></div><div class="card__desc"> language_filled</div></div></div>
<div class="nys-grid-col-3"><div class="card nys-flex-fill"><div class="card__title"><nys-icon name="lock_filled"></nys-icon></div><div class="card__desc"> lock_filled</div></div></div>
</div>
<h3>When to use this component</h3>
<ul>
<li>To provide recognizable visual representations for common actions or objects (e.g., search, download, social media links).</li>
<li>Ideal for enhancing navigation menus, buttons, or other interactive elements with visual cues.</li>
</ul>
<h3>When to consider something else</h3>
<ul>
<li>If an icon does not add meaningful value to the context or might confuse users.</li>
<li>When a descriptive label or plain text provides clearer communication.</li>
</ul>
</section>
    <div class="nys-grid-row nys-grid-gap">
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--do nys-flex-fill">
          <h3 class="card__title"><nys-icon name="check_circle" size="lg"></nys-icon> Do</h3>
<ul>
<li>Use icons to enhance user interfaces with clear, recognizable icons.</li>
<li>Use appropriate icons align with the purpose and context of the UI elements they accompany.</li>
<li>Provide an accessible label using the label attribute to ensure screen readers can interpret the icon's purpose (if warranted).</li>
<li>Customize icon sizes and colors to match the design system.</li>
</ul>
</div>
      </div>
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--dont nys-flex-fill">
          <h3 class="card__title"><nys-icon name="warning" size="lg"></nys-icon> Don't</h3>
<ul>
<li>Use icons that lack clarity or context for their intended purpose.</li>
<li>Use excessive customization that distracts from UI and established design patterns.</li>
<li>Replace meaningful text with an icon unless its meaning is universally recognized or accompanied by a text label.</li>
</ul>
</div>
      </div>
    </div>
    <section id="accessibility">
      <h2>Accessibility</h2>
<p>The <code class="language-js">nys-icon</code> component includes the following accessibility-focused features:</p>
<p><strong>ARIA Hidden by Default</strong>: If no label is provided, the icon is hidden from screen readers by setting aria-hidden=&quot;true&quot;.</p>
<p><strong>Customizable ARIA Label</strong>: If a label is provided, the component automatically adds an aria-label attribute, making the icon accessible to screen readers.</p>
</section>
    <section id="options">
      <h2>Options</h2>
<h3>Size</h3>
<p>You can scale icons either relatively (based on the parent element’s font size) or literally (with predefined size values). The icons support two sizing systems: relative sizes and literal sizes.</p>
<h4>Relative Sizing</h4>
<p>To scale an icon relative to the inherited font size, pass a size variant like size=[variant name] as a prop. The values will scale based on the current font size of the parent element.</p>
<ul>
<li><code class="language-js">2xs</code> (extra-extra small): 75% of parent font size</li>
<li><code class="language-js">xs</code> (extra small): 87.5% of parent font size</li>
<li><code class="language-js">sm</code> (small): 100% of parent font size</li>
<li><code class="language-js">md</code> (medium): 112.5% of parent font size</li>
<li><code class="language-js">lg</code> (large): 125% of parent font size</li>
<li><code class="language-js">xl</code> (extra large): 150% of parent font size</li>
<li><code class="language-js">2xl</code> (double extra large): 187.5% of parent font size</li>
<li><code class="language-js">3xl</code> (triple extra large): 225% of parent font size</li>
<li><code class="language-js">4xl</code> (quadruple extra large): 300% of parent font size</li>
</ul>
<h4>Literal Sizing</h4>
<p>For fixed, predefined sizes, you can use literal sizes. These sizes are defined in rem units, which provide fixed scaling options.</p>
<ul>
<li><code class="language-js">12</code>: 0.75rem = 12px</li>
<li><code class="language-js">16</code>: 1rem = 16px</li>
<li><code class="language-js">24</code>: 1.5rem = 24px</li>
<li><code class="language-js">32</code>: 2rem = 32px</li>
<li><code class="language-js">48</code>: 3rem = 48px</li>
<li><code class="language-js">64</code>: 4rem = 64px</li>
</ul>
<h3>Color</h3>
<p>You can override the color of an icon by setting a <code>color</code> prop. You can use CSS HEX values, CSS color names, or CSS variables</p>
<p><nys-icon label="upload_file icon" name="upload_file" color="#db117d" size="4xl"></nys-icon></p>
<h3>Rotate</h3>
<p>You can <code>rotate</code> an icon by passing the angle as a number, like rotate=&quot;20&quot; (without &quot;deg&quot;).</p>
<p><nys-icon label="upload_file icon" name="upload_file" rotate="20" size="4xl"></nys-icon></p>
<h3>Flip</h3>
<p>Set an icon to flip horizontally, vertically, or in both directions by using the <code>flip</code> property. Available values are <code>horizontal</code>, <code>vertical</code>, and <code>both</code>.</p>
<p><nys-icon label="upload_file icon" name="upload_file" flip="horizontal" size="4xl"></nys-icon></p>
</section>
    <section id="properties">
      <h2>Properties</h2>
<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>name</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>size</code></td>
      <td>string (2xs, xs, sm, md, lg, xl, 2xl, 3xl, 4xl, 12, 16, 24, 32, 48, 64)</td>
    </tr>
    <tr>
      <td><code>color</code></td>
      <td>string (CSS HEX, CSS color name, or CSS variable)</td>
    </tr>
    <tr>
      <td><code>label</code></td>
      <td>string</td>
    </tr>
    <tr>
      <td><code>rotate</code></td>
      <td>integer</td>
    </tr>
    <tr>
      <td><code>flip</code></td>
      <td>string (horizontal, vertical, both)</td>
    </tr>
  </tbody>
</table>
</section>
    <section id="cssvariables">
      <h2>CSS Variables</h2>
<p>[[TODO]]</p>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>--nys-toggle-width</code></td>
      <td>Width of the toggle switch.</td>
    </tr>
  </tbody>
  </table>
</section>
    <section id="events">
      <h2>Events</h2>
<p>[[TODO]]</p>
<p>The <code class="language-js">&lt;nys-&gt;</code> component emits <strong>three</strong> custom Javascript events:</p>
<ol>
<li><strong><code>change</code></strong> – Fired when the toggle state changes (checked/unchecked).</li>
<li><strong><code>focus</code></strong> – Fired when the toggle gains focus.</li>
<li><strong><code>blur</code></strong> – Fired when the toggle loses focus.</li>
<li><strong><code>keydown</code></strong> – Fired when a key is pressed while the toggle is focused.</li>
</ol>
<p>You can listen to these events using JavaScript:</p>
<pre class="language-js"><code class="language-js"><span class="token comment">// Select the toggle component</span>
  <span class="token keyword">const</span> toggle <span class="token operator">=</span> document<span class="token punctuation">.</span><span class="token function">querySelector</span><span class="token punctuation">(</span><span class="token string">'nys-toggle'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token comment">// Listen for the 'change' event</span>
  toggle<span class="token punctuation">.</span><span class="token function">addEventListener</span><span class="token punctuation">(</span><span class="token string">'change'</span><span class="token punctuation">,</span> <span class="token punctuation">(</span><span class="token parameter">event</span><span class="token punctuation">)</span> <span class="token operator">=></span> <span class="token punctuation">{</span>
    console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span><span class="token string">'Checkbox changed:'</span><span class="token punctuation">,</span> event<span class="token punctuation">.</span>target<span class="token punctuation">.</span>checked<span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
</section>
  </div>
</div>
      
    </div>
  </main>

  <div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-6">
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Quick Links</h6>
        <ul>
            <li><a href="/excelsior-site/getting-started/" title="How you can use Excelsior.">Getting Started</a></li>
            <li><a href="/excelsior-site/foundations/" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="/excelsior-site/components/" title="Explore the web components.">Components</a></li>
            <li><a href="/excelsior-site/about/" title="Learn more about our team and the mission of this project.">About Excelsior</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Support</h6>
        <ul>
          <li><a href="/excelsior-site/privacy/" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="/excelsior-site/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="/excelsior-site/about/" title="Contact the Excelsior team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Resources</h6>
        <ul>
            <li><a href="https://github.com/ITS-HCD/excelsior" title="Visit the Excelsior Core GitHub repository.">Excelsior GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/excelsior-fonts" title="Visit the Excelsior Fonts GitHub repository.">Excelsior Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nys-excelsior" title="Explore Excelsior NPM packages.">Excelsior NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYS-%2F-Excelsior-Components-(Alpha)?node-id=20-40&t=Qcrbt459q9JgdW9E-1" title="Access the Excelsior Figma library.">Excelsior Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <div id="nygov-universal-footer" class="nygov-universal-container"></div>


  <script type="module" src="https://its-hcd.github.io/excelsior-site//assets/js/vendor/excelsior.js"></script>
<script src="https://its-hcd.github.io/excelsior-site//assets/js/excelsior-site.js"></script>
  
  </body>
</html>
