<section class="contact-points">
    <a class="card card--horizontal" href="https://teams.microsoft.com/l/team/19%3AsOgJ0qBW2ZBGB9h8LxC37mmdQJKwOfLdAmwsOEDD5cY1%40thread.tacv2/conversations?groupId=e9810b17-e32f-499d-a5b0-192e4adcdce3&tenantId=f46cb8ea-7900-4d10-8ceb-80e8c1c81ee7">
        <div class="card__inner">
            <div class="card__media card__media--thin">
                <img src="/assets/img/teams-channel.svg" />
            </div>
            <div class="card__content">
                <div class="card__title">
                    NYS Digital Accessibility MS Teams channel
                </div>
                <div class="card__desc">
                    Have a quick question or need immediate guidance? Jump into our Microsoft Teams channel to chat with the team in real-time.
                    <p></p>
                    <nys-badge label="For NYS staff" prefixIcon="lock_filled"></nys-badge>
                </div>
            </div>
        </div>
    </a>
    <a class="card card--horizontal" href="https://github.com/ITS-HCD/nysds/issues">
        <div class="card__inner">
            <div class="card__media card__media--thin">
                <img src="/assets/img/report-bug.svg" />
            </div>
            <div class="card__content">
                <div class="card__title">
                    Report a bug on GitHub
                </div>
                <div class="card__desc">
                    Spotted an issue or a visual glitch? Open a GitHub ticket with a clear description and reproduction steps so we can squash it.
                    <p></p>
                    <nys-badge label="Requires a GitHub account"></nys-badge>
                </div>
            </div>
        </div>
    </a>
</section>
