<div class="nys-grid-row nys-grid-gap-1 nys-flex-align-center">
  <nys-badge label="{{ 'Stable' if stable else 'Unstable' }}" prefixIcon="code"></nys-badge>
  <nys-badge
    prefixIcon
    prefixLabel="WCAG 2.2"
    label="AA"
    intent="success"
  ></nys-badge>
  <nys-button size="sm" variant="text" label="View in Figma" href="{{ figmaLink or "https://www.figma.com/design/U2QpuSUXRTxbgG64Fzi9bu/%F0%9F%92%A0-NYS-Design-System?node-id=51-1514" }}"></nys-button>
</div>