<div>
{% if dependencies and dependencies | length > 0 %}
    <p>These dependencies are exposed for developers to see which NYS Design System 
        components may be used within other components.
    </p>

    <ul>
        {% for dependency in dependencies %}
       <li><code>{{ dependency }}</code></li>
       {% endfor %}
    </ul>

        
  {% else %}
    <p>
      There are no existing dependencies for this component. Explore existing <a href="#options">options</a>, or
      propose a new one with a
      <a href="https://github.com/ITS-HCD/nysds/discussions/categories/component-proposals">Component Proposal</a>.
    </p>
  {% endif %}
  </div>