<section>
<h2>Dependencies</h2>
{%- if dependencies and dependencies | length > 0 -%}
<p>This component automatically imports the following dependencies:</p>
<ul>
{%- for dependency in dependencies %}
<li><code>{{ dependency }}</code></li>
{%- endfor %}
</ul>
{%- else -%}
<p>This component does not import any other NYSDS components.</p>
{%- endif -%}
</section><br>
