{% if page.inputPath and (show_edit_link != false) %}
<div class="nys-grid-container-widescreen">
  <div class="edit-page-link">
    <a href="{{ page | editOnGitHubUrl }}">
      Edit this page on GitHub
    </a>
  </div>
</div>
{% endif %}