<div class="nys-grid-col-6 nys-tablet:nys-grid-col-3">
    <div class="card nys-flex-fill">
        <div class="card__title">
            <nys-icon name="{{name}}" size="4xl"></nys-icon>
        </div>
        <div class="card__desc">{{name}}</div>
    </div>
</div>