<div id="onpage-nav" class="onpage-nav"></div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const navContainer = document.createElement('nav');
    navContainer.classList.add('onpage-nav__nav'); // Assign a class to the nav element

  const navList = document.createElement('ul');
  navList.classList.add('onpage-nav__list');
  navContainer.appendChild(navList);

  document.querySelectorAll('h2').forEach((heading) => {
    const navItem = document.createElement('li');
    const navLink = document.createElement('a');
    const headingId = heading.textContent.toLowerCase().replace(/\s+/g, '-');
    
    // const section = document.createElement('section');
    // section.id = `${headingId}`;
    // heading.parentNode.insertBefore(section, heading);
    // section.appendChild(heading);

    heading.id = headingId;
    navLink.href = `#${headingId}`;
    navLink.textContent = heading.textContent;
    navLink.classList.add('onpage-nav__link');
    navItem.classList.add('onpage-nav__item', `onpage-nav__item--${headingId}`);
   
    navItem.appendChild(navLink);
    navList.appendChild(navItem);
  });

  const onPageNav = document.getElementById('onpage-nav');
  if (onPageNav) {
    onPageNav.appendChild(navContainer);
  }});
</script>