<div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-6">
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Quick Links</h6>
        <ul>
            <li><a href="{{ '/getting-started/' | url }}" title="How you can use Excelsior.">Getting Started</a></li>
            <li><a href="{{ '/foundations/' | url }}" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="{{ '/components/' | url }}" title="Explore the web components.">Components</a></li>
            <li><a href="{{ '/about/' | url }}" title="Learn more about our team and the mission of this project.">About Excelsior</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Support</h6>
        <ul>
          <li><a href="{{ '/privacy/' | url }}" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="{{ '/accessibility/' | url }}" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="{{ '/about/' | url }}" title="Contact the Excelsior team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <h6 class="site-footer__list-header">Resources</h6>
        <ul>
            <li><a href="https://github.com/ITS-HCD/excelsior" title="Visit the Excelsior Core GitHub repository.">Excelsior GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/excelsior-fonts" title="Visit the Excelsior Fonts GitHub repository.">Excelsior Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nys-excelsior" title="Explore Excelsior NPM packages.">Excelsior NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYS-%2F-Excelsior-Components-(Alpha)?node-id=20-40&t=Qcrbt459q9JgdW9E-1" title="Access the Excelsior Figma library.">Excelsior Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>