<nav role="navigation" aria-label="Site Navigation">
  <ul>
    <li><a href="{{ site.url }}/how-to-use" title="Home">How To Use</a></li>
    <li><a href="{{ site.url }}/design-principles" title="Design Principles">Design Principoles</a></li>
    <li><a href="{{ site.url }}/components" title="Components">Components</a></li>
    <li><a href="{{ site.url }}/design-tokens" title="Design Tokens">Design Tokens</a></li>
    <li><a href="{{ site.url }}/utilities" title="Utilities">Utilities</a></li>
    <li><a href="{{ site.url }}/about" title="About">About</a></li>
  </ul>
</nav>