<nys-globalfooter agencyName="NYS Design System">
  <ul data-pagefind-ignore="all">
    <li><span>Learn More</span>
      <ul>
        <li><a href="{{ '/get-started/' | url }}" title="Get started using the NYS Design System.">Get Started</a></li>
        <li><a href="{{ '/foundations/' | url }}" title="Learn about the foundations of the design system.">Foundations</a></li>
        <li><a href="{{ '/components/' | url }}" title="Explore the web components.">Components</a></li>
        <li><a href="{{ '/foundations/accessibility/' | url }}" title="Learn about accessibility on this site.">Accessibility</a></li>
      </ul>
    </li>
    <li><span>Resources</span>
      <ul>
        <li><a href="https://github.com/ITS-HCD/nysds" title="Visit the NYS Design System GitHub repository.">GitHub <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://github.com/ITS-HCD/nysds-fonts" title="Visit the NYS Design System Fonts GitHub repository.">Fonts GitHub <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://www.npmjs.com/org/nysds" title="Explore NYS Design System NPM packages.">NPM Packages <nys-icon name="open_in_new"></nys-icon></a></li>
        <li><a href="https://www.figma.com/design/U2QpuSUXRTxbgG64Fzi9bu/%F0%9F%92%A0-NYS-Design-System" title="Access the NYS Design System Figma library.">Figma Library <nys-icon name="open_in_new"></nys-icon></a></li>
      </ul>
    </li>
  </ul>
</nys-globalfooter>
