<nav class="nys-grid-row">
    <div class="nys-grid-col-auto">
        <a href="{{site.url}}" title="Home"><img src="{{ '/assets/img/Group.svg' | url }}"></a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="{{ '/getting-started' | url }}" title="Getting Started" class=" nys-display-flex nys-flex-justify-center">Getting Started</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="{{ '/foundations' | url }}" title="Foundations" class=" nys-display-flex nys-flex-justify-center">Foundations</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center nys-flex-justify-center">
        <a href="{{ '/components' | url }}" title="Components" class=" nys-display-flex nys-flex-justify-center">Components</a>
    </div>
    <div class="nys-desktop:nys-grid-col nys-flex-align-self-center">
        <a href="{{ '/about' | url }}" title="About" class=" nys-display-flex nys-flex-justify-center">About</a>
    </div>
</nav>

{# <div id="search" class="search"></div>

<script src="{{ site.url }}/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script> #}