<a href="{{site.url}}" title="Home">Excelsior New York State's Design System</a>
<div id="search" class="search"></div>

<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>