<script type="module" src="{{ site.url | url }}/assets/js/vendor/nysds.js" async></script>
<script src="{{ site.url | url }}/assets/js/nysds-site.js"></script>
{# For nysa11y assets to ease study by remediators #}
{% if extra_js %}
  {% for file in extra_js %}
    <script src="{{ site.url | url }}{{ file }}"></script>
  {% endfor %}
{% endif %}
