<div class="site-header">
    <div class="site-header__inner nys-grid-container">
        <div class="nys-grid-row">
            <div class="nys-desktop:nys-grid-col-auto nys-tablet:nys-grid-col-12">
                <a href="{{site.url}}" title="Home"><img src="{{ '/assets/img/logo-excelsior.svg' | url }}" title="Excelsior Logo"></a>
            </div>
            <nav class="nys-tablet:nys-grid-col nys-flex-align-self-center">
                <ul class="nys-display-flex nys-flex-justify-center">
                    <li><a href="{{ '/getting-started' | url }}" title="Getting Started">Getting Started</a></li>
                    <li><a href="{{ '/foundations' | url }}" title="Foundations">Foundations</a></li>
                    <li><a href="{{ '/components' | url }}" title="Components">Components</a></li>
                    <li><a href="{{ '/about' | url }}" title="About">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{# <div id="search" class="search"></div>

<script src="{{ site.url }}/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script> #}