        {% if tags %}
        <ul class="nys-margin-t-200 taglist" data-pagefind-ignore="all">
          {% for tag in tags %}
            {% if tag == 'BREAKING CHANGES' %}
              <li><nys-badge label="{{ tag }}" intent="error" prefixIcon></nys-badge></li>
            {% else %}
              <li><nys-badge label="{{ tag }}"></nys-badge></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}