{# <script src="https://global.localizecdn.com/localize.js"></script>
<script>(function(a){if(!a.Localize){a.Localize={X:[]};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","getSourceLanguage","detectLanguage","getAvailableLanguages","setWidgetLanguages","hideLanguagesInWidget","untranslatePage","bootstrap","prefetch","on","off","hideWidget","showWidget"],t=0;t<e.length;t++)a.Localize[e[t]]=(function(m){return function(){a.Localize.X.push([m,arguments]);};})(e[t]);}})(window);</script>

<script>
  Localize.initialize({
    key: 'NEf4Y5qMb9PGP',
    rememberLanguage: true,
    autoApprove: true,
  });
</script>
<nys-unavheader id="my-header"></nys-unavheader>
<script>
  const header = document.querySelector('#my-header');
  header.languages = [
    {
        code: 'en',
        label: 'English'
    },
    {
        code: 'ko',
        label: 'Korean'
    },
    ];

  document.querySelector('#my-header').addEventListener('nys-language-select', (event) => {
  event.preventDefault();
  const selectedLanguage = event.detail.language.code;
  Localize.setLanguage(selectedLanguage);
  });
</script> #}
<nys-unavheader searchUrl="/search/?q=" hideTranslate></nys-unavheader>
