<script src="https://global.localizecdn.com/localize.js"></script>
<script>(function(a){if(!a.Localize){a.Localize={X:[]};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","getSourceLanguage","detectLanguage","getAvailableLanguages","setWidgetLanguages","hideLanguagesInWidget","untranslatePage","bootstrap","prefetch","on","off","hideWidget","showWidget"],t=0;t<e.length;t++)a.Localize[e[t]]=(function(m){return function(){a.Localize.X.push([m,arguments]);};})(e[t]);}})(window);</script>

<script>
  Localize.initialize({
    key: 'NEf4Y5qMb9PGP',
    rememberLanguage: true,
    autoApprove: true,
  });
</script>
<nys-unavheader id="my-header" searchUrl="/search/?q="></nys-unavheader>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const header = document.querySelector('#my-header');
  header.languages = [
    { code: "en", label: "English (English)" },
    { code: "es", label: "Español (Spanish)" },
    { code: "zh", label: "中文 (Chinese)" },
    { code: "zh-traditional", label: "繁體中文 (Traditional Chinese)" },
    { code: "yi", label: "יידיש (Yiddish)" },
    { code: "ru", label: "Русский (Russian)" },
    { code: "bn", label: "বাংলা (Bengali)" },
    { code: "ko", label: "한국어 (Korean)" },
    { code: "ht", label: "Kreyòl Ayisyen (Haitian Creole)" },
    { code: "it", label: "Italiano (Italian)" },
    { code: "ar", label: "العربية (Arabic)" },
    { code: "pl", label: "Polski (Polish)" },
    { code: "fr", label: "Français (French)" },
    { code: "ur", label: "اردو (Urdu)" },
    ];

  document.querySelector('#my-header').addEventListener('nys-language-select', (event) => {
  event.preventDefault();
  const selectedLanguage = event.detail.language.code;
  Localize.setLanguage(selectedLanguage);

  const translateDisclaimer = document.createElement('nys-alert');
  translateDisclaimer.setAttribute('heading', 'Translation Alert!');
  translateDisclaimer.setAttribute('notranslate', 'true');
  translateDisclaimer.setAttribute('dismissible', 'true');
  translateDisclaimer.innerHTML = `
  <p>Las traducciones automáticas no son perfectas y no pretenden reemplazar a los traductores humanos. Es posible que algunas páginas o parte del contenido no estén traducidos de forma precisa debido a las limitaciones del software de traducción. <a href="https://ny.gov/web-translation-services" target ="_blank">Lea la exención de responsabilidad completa</a></p>
  `;
  Object.assign(translateDisclaimer.style, {
    position: 'fixed',
    bottom: '0',
    left: '0',
    width: '100%',
    zIndex: '9999'
  });
  document.body.appendChild(translateDisclaimer);
  });
});
</script>
{# <nys-unavheader searchUrl="/search/?q=" hideTranslate></nys-unavheader> #}
